{% extends 'base.html' %}

{% block head %}
<meta name=”description” content="All about Renewed Hope - A Christian guild in World of Warcraft">
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
<title>About</title>
{% endblock %}

{% block body %}
{% include "alerts.html" %}
<div id="container">
    <div id="content">
        <h1 id="title">Renewed Hope</h1>
                <h2 id="faction">Alliance  -  Alexstrasza/Terokkar</h2>
                <p>
                <h3>Who we are:</h3>
                We are an established Christian guild full of believers and nonbelievers alike. Our main focus has been and always will be to provide an awesome place for people to enjoy this game without dealing with all the harshness and vulgarity that you find in many other guilds. We don’t require that our members be Christians but you must respect the beliefs of others. General rule: if you think it may offend someone then you probably shouldn't share it.
                
                We have devotionals on Mondays on our Discord server (attendance not required) and at times (respectful) religious talk comes up in chat. If the thought of hearing some occasional “God talk” is bothersome to you than this guild probably wouldn’t be a good fit for you. Atmosphere is everything here. We would rather have a guild of great people than be the biggest or best. We keep it fun and lite. No pressure here or harsh requirements.
                
                We have added an alt guild to the mix to give us more room for everyone's toons. In Renewed Hope we have a 5 toon limit, but in Renewed Faith you can have as many as you would like. We do require everyone use the addon Greenwall which links the guild chat between the two so it will feel like one big guild. That addon can be found on Curse and most other major addon sites.
                
                Most guildies go by their first names here (optional). It reminds us all that we are playing with a group of real people, not some anonymous person hiding behind an in game avatar.
                
                We have just a few rules in our guild in order to keep this a place we feel comfortable playing in.
                
                <ol>
                    <li>
                        Keep language and conversations clean. There are an infinite number of guilds where foul language and suggestive conversations are the norm. We are proud to be an alternative to that.
                    </li>
                    <br>
                    <li>
                        Respect each other. Well duh, right? We come from all walks of life and all backgrounds. We all carry our own views and opinions. We must be willing to respect each other even if we don’t always agree.    
                    </li>
                    <br>
                    <li>
                        Act honorably. When we are out in the game world we represent the guild as a whole. Being a jerk or mouthing off to people in game reflects poorly on all of us (and honestly accomplishes nothing).
                    </li>
                </ol>
                <br>
                <h3>What we do:</h3>
                <br>
                <b>Raiding:</b>
                <br>
                <br>
                In Battle of Azeroth we will be scaling things back to a single casual raid team. Causal raid is intended to give everyone who would like to raid a chance to do so in a fun and relaxed atmosphere. We will have a very reasonable minimum item level to join but we don’t expect you to be a top tier raider. If you can listen to instructions and give us an honest effort you are most welcome to come. Our team will be running at normal difficulty through most of BfA.  Raid nights will be Thursday and Saturday nights from 8:30 to 10:30 server time.
                <br>
                <br>
                <b>Guild groups for ?:</b>
                <br>
                <br>
                We like to encourage guildies to get together for world boss fights, LFR, raiding old content, achievement runs, dungeons, leveling….ect ect ect. Guild groups>pug groups any day :D
                <br>
                <br>
                <b>Devotionals:</b>
                <br>
                <br>
                We hold a devotional every Monday night via our Discord server. We get together for a message and share some prayer requests or praise reports. Participation is not required. We do record the message to post to our guild website and Facebook group for people who can’t make it.
                
                For voice chat we use Discord and we also have a very active Facebook group.
                
                So there it is. That's the guild in a nutshell. Not your cup of tea? Thanks for reading. Sounds like your kind of place? Do a /who ingame and ask to speak to any of our fine officers or mail me in-game and we’ll talk. You can also apply to the guild <a href="https://docs.google.com/forms/d/e/1FAIpQLSdmm8LJ4lVInWACbNqikWDBdfJfxqdDhHXy9X3QIhlvPRY3xw/viewform" target="#">here</a>.
                <br>
                <br>
                <h2>Ashton - GM</h2>
                <br>
                <br>
                </p>
</div>
</div>
{% endblock %}