{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/add_devotional.css') }}">
<title>Add Devotional</title>
{% endblock %}

{% block body %}
    <div class="devotional">
        <div class="title-bar">
            <h1>Devotional Panel</h1>
            <div class="btn btn-outline-info">
                <a class="btn" href="{{ url_for('logout') }}">Log out</a>
            </div>
        </div>
        <br>
        <div class="form-container">
            <form action="/add_devotional", method="POST" id=devo>
                <label name="title">Title</label>
                <input type="text" name="title", id="title">
                <br>
                <label name="date">Date</label>
                <input type="date" name="date", id="date">
                <br>
                <label name="discription">Discription</label>
                <textarea name="discription" form="devo"></textarea>
                <br>
                <label name="link">Download Link</label>
                <input type="text" name="link", id="link">
                <br>
                <input type="submit" value="Add Devotional">

            </form>
        </div>
        <br>
        <br>
        <table>
            <tr>
                <th class="title">Title</th>
                <th class="date">Date</th>
                <th>Discription</th>
                <th>Download Link</th>
                <th>Date Updated</th>
                <th>Actions</th>
            </tr>
            {% for devotional in devotionals %}
            
            <tr>
                <td>{{ devotional.title }}</td>
                <td>{{ devotional.date }}</td>
                <td>{{ devotional.content }}</td>
                <td>{{ devotional.download_link }}</td>
                <td>{{ devotional.date_updated }}</td>
                <td>
                    <a href="/delete/{{ devotional.id }}">Delete</a>
                    <br>
                    <a href="/update/{{ devotional.id }}">Update</a>
                </td>
            </tr>
            
            {% endfor %}
        </table>

    </div>

{% endblock %}