{% extends 'admin-nav.html' %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:image" content="{{ url_for('static', filename='img/RH_icon.png') }}" /> 
    <meta name=”description” content="This is the admin panel.">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    <title>Admin Page</title>
{% endblock %}


{% block body %}
<table class="e-table">
        <div><h1>Announcements</h1></div>
   
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Link</th>
        </tr>
        {% for announcement in announcements %}
    
        <tr>
            <td>{{ announcement.title }}</td>
            <td>{{ announcement.description }}</td>
            <td>{{ announcement.link }}</td>
            <td>
                <a id="update" href="/announcement_update/{{ announcement.id }}">Update</a>
                <br>
                <a id="delete" href="/confirm?id={{ announcement.id }}&confirm_type=Announcement">Delete</a>
               
               
            </td>
        </tr>
        
        {% endfor %}
    </thead>
</table>    
<hr>

<table class="e-table">

    <div class="search-box">
            <div><h1>Upcoming Events</h1></div>
            <div class="event-search">
                <form action="/results/">
                    <button class="search" type="submit" value="Search">
                        <i class="fas fa-search"></i>
                    </button>
                <input class="search" type="text" name="event" placeholder="Search Events">
            </form>
            </div>
        </div>
    
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Time</th>
            <th>Discription</th>
            <th>Action</th>
        </tr>
        {% for event in events %}
    
        <tr>
            <td>{{ event.title }}</td>
            <td>{{ event.date.strftime('%m-%d-%Y') }}</td>
            <td>{{ event.time }}</td>
            <td>{{ event.description }}</td>
            <td>
                <a id="update" href="/event_update/{{ event.id }}">Update</a>
                <br>
                <a id="delete" href="/confirm?id={{ event.id }}&confirm_type=Event">Delete</a>
               
               
            </td>
        </tr>
        
        {% endfor %}
    </thead>
</table>      

<hr>
        <table class="d-table">

            <div class="search-box">

                <div>
                    <h1>Recent Devotionals</h1>
                </div>

                <div class="devo-search">
                    <form action="/results/">
                        <button class="search" type="submit" value="Search">
                            <i class="fas fa-search"></i>
                        </button>
                    <input class="search" type="text" name="devo" placeholder="Search Devotionals">
                </form>
                </div>

            </div>

            <thead>
                <tr>
                    <th>Title</th>
                    <th>Lead</th>
                    <th>Date</th>
                    <th>Discription</th>
                    <th>Link</th>
                    <th>Updated</th>
                    <th>Action</th>
                </tr>
                {% for devotional in devotionals %}
            
                <tr>
                    <td>{{ devotional.title }}</td>
                    <td>{{ devotional.lead }}</td>
                    <td>{{ devotional.date }}</td>
                    <td>{{ devotional.content }}</td>
                    <td>{{ devotional.download_link }}</td>
                    {% if devotional.date_updated == None %}
                    <td>{{ devotional.date_updated }}</td>
                    {% else %}
                    <td>{{ devotional.date_updated.strftime('%m-%d-%Y') }}</td>
                    {% endif %}
                    <td>
                        <a id="update" href="/devotional_update/{{ devotional.id }}">Update</a>
                        <br>
                        <a id="delete" href="/confirm?id={{ devotional.id }}&confirm_type=Devotional">Delete</a>
                       
                        
                    </td>
                </tr>
                
                {% endfor %}
            </thead>
        </table>
        <br>
        <div>
                <a class="all-link" href="{{ url_for('manage.add_devotional') }}">All Devotionals</a>
            </div>
            <br>
            <br>
            <hr>
        
{% endblock %}