{% extends 'base.html' %}

{% block head %}
<meta name=”description” content="Renewed Hope's calendar of events. See what happening in-game today!">
<link rel="stylesheet" href="{{ url_for('static', filename='css/calendar.css') }}">
<title>Guild Calendar</title>
{% endblock %}

{% block body %}

<div class="calendar-container" style="background-color: black">
    <div class="month-bar">
        <a href="./guild_calendar?month={{ month - 1 }}&year={{ year }}" class="back"><i class="fas fa-less-than"></i></a>
        <h1>{{month_name}} - {{year}}</h1>
        <a href="./guild_calendar?month={{ month + 1 }}&year={{ year }}" class="next"><i class="fas fa-greater-than"></i></a>
    </div>

    <div class="calendar-grid">

        <div class="week-top">
            <div class="day-bar">Sunday</div>
            <div class="day-bar">Monday</div>
            <div class="day-bar">Tuesday</div>
            <div class="day-bar">Wednesday</div>
            <div class="day-bar">Thursday</div>
            <div class="day-bar">Friday</div>
            <div class="day-bar">Saturday</div>
        </div>

        {% for week in cal %}
            <div class="week">

                {% for day in week %}

                    

                    {% if day == 0 %}

                        <div class="day empty-day">
        
                    {% else %}

                        {%if month == current_month and day == current_day %}
                            <div style="background-color:rgb(65, 64, 71)" class="day day-{{day}} day-lg">{{day}} &emsp;&emsp;&emsp; Today
                        {% else %}
                            <div class="day day-{{day}} day-lg">{{day}}
                        {% endif %}
                    
                    {% endif %}

                    {% for event in events %}
                    
                        

                        {% if day == event.date.day %}
                            <div class="event">
                                <div class="title">{{ event.title }}</div>
                                <div class="time">{{ event.time }}</div>
                                <br>
                                <div class="description">{{ event.description }}</div>
                            </div>
                        {% endif %}

                    {% endfor %}

                        </div>
                    
                {% endfor %}

            </div>
        {% endfor %}

    </div>

</div>


    {% endblock %}