{% extends 'base.html' %}

{% block head %}
<title>Confirm</title>
<style>
    .confirm-container {
        color: brown;
        text-align: center;
    }
    .btn-container {
        display: flex;
        justify-content: center;
    }
    .delete {
        padding: 5rem;
        margin: 0 5rem;
        border-radius: 10px;
        background-color: red;
        color: white;
    }
    .cancel {
        padding: 5rem;
        margin: 0 5rem;
        border-radius: 10px;
        background-color: green;
        color: white;
    }
</style>
{% endblock %}

{% block body %}

<div class="confirm-container">
    <h1>Are you sure you want to delete the {{ item_to_delete.title }} {{ confirm_type }}?</h1>
    <br>
    <div class="btn-container">
        {% if confirm_type == "Devotional" %}
            <a class="delete" href="/delete?id={{ item_to_delete.id }}&confirm_type=Devotional">Delete</a>
            <a class="cancel" href="{{ url_for('add_devotional') }}">Keep</a>
        {% elif confirm_type == "Event" %}
            <a class="delete" href="/delete?id={{ item_to_delete.id }}&confirm_type=Event">Delete</a>
            <a class="cancel" href="{{ url_for('add_event') }}">Keep</a>
        {% endif %}
    </div>

    </div>

{% endblock %}