{% extends 'base.html' %}

{% block head %}
<meta name=”description” content="Check out our audio recordings from our weekly devotionals.">
<link rel="stylesheet" href="{{ url_for('static', filename='css/devotional.css') }}">
<title>Devotionals</title>
{% endblock %}

{% block body %}

    <h1>Devotionals</h1>
    <br>
    <br>


        {% for devotional in devotionals.items %}
        
            <div class="container">
                <!-- <a href="{{ devotional.download_link }}" target="#"> -->
                    
                    <h3>{{ devotional.title }}</h3>
                    <p>{{ devotional.content }}</p>
                    <audio controls>
                        <source src="{{ devotional.download_link }}">
                    </audio>
                <!-- </a> -->
            </div>
            
            <br>
            {% endfor %}

        <div class="pag">
            {% for page_num in devotionals.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
                {% if devotionals.page == page_num %}
                    <a class="btn btn-info mb-4" href="{{ url_for('devotionals', page=page_num) }}">{{ page_num }}</a>
                    {% else %}
                    <a class="btn btn-outline-info mb-4" href="{{ url_for('devotionals', page=page_num) }}">{{ page_num }}</a>
                {% endif %}
                {% else %}
                ...
            {% endif %}
            {% endfor %}
        </div>


{% endblock %}