{% extends 'base.html' %}

{% block head %}
<meta name=”description” content="Welcome to the home of Renewed Hope - A Christian guild in World of Warcraft">
<link rel="stylesheet" href="{{ url_for('static', filename='css/slider.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block body %}
<div class="main-container">


    <div class="banner-container">
    
    </div>

    <div class="content-container">

        <div class="announcment-container">



            <div class="news">
                <div class="news__list-container">
                    <ul class="news__list">
                        <li class="news__item current-item">
                            <h2>Extra-Life 2019</h2>
                            <div>
                                    We are kicking off our Extra-Life 2019 campaign and we are looking for more for to join our team. You will 
                                    be raising funds to help support your locale Children's Miracle Network hospital. Sign up today! 
                            </div><br>
                            <a href="https://www.extra-life.org/team/46794">Team Renewed Hope Sign Up Page</a>
                            <!-- <img src="{{ url_for('static', filename='img/RH_icon.png') }}" alt=""> -->
                        </li>
                        <li class="news__item">
                            <h2>Looking for more to do?</h2>
                            <div>
                                Check out all the happenings on our calendar or see what’s going on in our Discord. You will find links to all the good stuff in the nav bar at the top of the page.  
                            </div>
                            <!-- <img src="{{ url_for('static', filename='img/RH_icon.png') }}" alt=""> -->
                        </li>
                        <li class="news__item">
                            <h2>Announcments</h2>
                            <div>
                                Welcome to the new home of Renewed Hope! If you are not yet a member of the guild and want to know more,
                                check out our About page for more information. Check back often for the latest guild happenings.
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="news__nav">
                <button class="news__indicator current-item"></button>
                <button class="news__indicator"></button>
                <button class="news__indicator"></button>
            </div>
            


            <a id="devo" href="{{ devotional.download_link }}" target="_blank">
                <div class="devotional-card-label">
                    <div class="devotional-card-content">
                        <h2>{{ devotional.title }}</h2>
                        {{ devotional.content }}
                    </div>
                </div>
            </a>


        </div>

        <div class="extra-life-container-lg">
                <h2>Extra-Life</h2>
    
                <div class="extra-life-widget">
                    <iframe src="https://www.extra-life.org/index.cfm?fuseaction=widgets.200x420thermo&teamID=46794" width="202"
                        height="422" frameborder="0" scrolling="no">
                        <a href="https://www.extra-life.org/index.cfm?fuseaction=donorDrive.team&teamID=46794"></a>
                    </iframe>
                </div>
            </div>

    <div class="info-blocks">

        <div class="extra-life-container">
                <h2>Extra-Life</h2>
    
                <div class="extra-life-widget">
                    <iframe src="https://www.extra-life.org/index.cfm?fuseaction=widgets.200x420thermo&teamID=46794" width="202"
                        height="422" frameborder="0" scrolling="no">
                        <a href="https://www.extra-life.org/index.cfm?fuseaction=donorDrive.team&teamID=46794"></a>
                    </iframe>
                </div>
            </div>

        <div class="widgets">
            <div class="widget-1">
                <a id="wowprogress" href="https://wowprogress.com/">
                    <img alt="WoW Guild Rankings" src="https://wowprogress.com/guild_img/755221/out/type.site" border="0"/>
                </a>
            </div>
            <div class="widget-2">
                    <div class="wowhead-title"><img id="wowhead-logo" src="{{ url_for('static', filename='img/wow-head-logo.png') }}">WowHead News</div>
                    {% for anchor in news %}
                        {% if loop.index is divisibleby 2 %}
                            <div class="article-wowhead">{{ anchor.anchor|safe }}</div>
                        {% else %}
                            <div class="article-wowhead wowhead-light">{{ anchor.anchor|safe }}</div>
                        {% endif %}

                    {% endfor %}
            </div>
        </div>

    </div>
</div>

</div>
<script src="{{ url_for('static', filename='js/slider.js') }}"></script>
{% endblock %}
