{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<title>Renewed Hope Home Page</title>
{% endblock %}

{% block body %}
    <header class="v-header container">
        <div class="fullscreen-video-wrap">
            <video src="../static/img/wow-bkg-large.mp4" autoplay="true" loop="true"></video>
        </div>
        <div class="header-overlay"></div>
 
        <div class="header-content">
            <div><img class="logo" src="../static/img/RH wow logo.png" alt="Renewed Hope logo"></div>
        </div>

   
        
    </header>
{% endblock %}