{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<title>Renewed Hope Home Page</title>
{% endblock %}

{% block body %}
    <header class="v-header">
        <div class="fullscreen-video-wrap">
            <video src="../static/img/wow-bkg-large.mp4" autoplay="true" loop="true"></video>
        </div>
        <div class="header-overlay"></div>
       
        
        <div class="logo-div">
            <img class="logo" src="../static/img/RH wow logo.png" alt="Renewed Hope logo">
        </div>


            <div class="card-holder">


                <div class="extra-life-container">
                    <h2>Extra-Life</h2>

                    <div class="extra-life-widget">
                        <iframe src="https://www.extra-life.org/index.cfm?fuseaction=widgets.200x420thermo&teamID=46794" width="202" height="422" frameborder="0" scrolling="no">
                            <a href="https://www.extra-life.org/index.cfm?fuseaction=donorDrive.team&teamID=46794">Make a Donation!</a>
                        </iframe>
                    </div>
                </div>


                <div class="announcment-card-label">
                    <h2>Announcments</h2>
                    <div class="announcment-card-content">
                        Welcome to the new home of Renewed Hope! If you are not yet a member of the guild and want to know more, check out our About page for more information. Check back often for the latest guild happenings. 
                    </div>
                </div>

                <div class="devotional-card-label">
                    <h2>{{ devotional.title }}</h2>
                    <a href="{{ devotional.download_link }}" target="_blank">
                        <div class="devotional-card-content">{{ devotional.content }}</div>
                    </a>
                </div>


            </div>
        
        
        
    </header>
{% endblock %}