Package              Version
-------------------- ------------
adal                 1.2.7
asn1crypto           1.5.1
astroid              2.15.8
azure-common         1.1.28
azure-core           1.29.4
azure-mgmt-core      1.4.0
azure-mgmt-storage   21.1.0
azure-storage-blob   12.18.2
azure-storage-common 2.1.0
bcrypt               4.0.1
beautifulsoup4       4.12.2
blinker              1.6.2
bs4                  0.0.1
certifi              2023.7.22
cffi                 1.16.0
chardet              5.2.0
charset-normalizer   3.3.0
click                8.1.7
colorama             0.4.6
cryptography         41.0.4
dill                 0.3.7
dnspython            2.4.2
email-validator      2.0.0.post2
Flask                2.3.0
Flask-Admin          1.6.1
Flask-Bcrypt         1.0.1
Flask-Login          0.6.2
Flask-Mail           0.9.1
Flask-Sitemap        0.4.0
Flask-SQLAlchemy     3.1.1
Flask-WTF            1.2.0
greenlet             2.0.2
idna                 3.4
isodate              0.6.1
isort                5.12.0
itsdangerous         2.1.2
Jinja2               3.1.2
lazy-object-proxy    1.9.0
MarkupSafe           2.1.3
mccabe               0.7.0
msrest               0.7.1
msrestazure          0.6.4
mysqlclient          2.2.0
oauthlib             3.2.2
Pillow               10.0.1
pip                  22.0.2
platformdirs         3.10.0
pycparser            2.21
PyJWT                2.8.0
pylint               2.17.7
PyMySQL              1.1.0
python-dateutil      2.8.2
python-dotenv        1.0.0
pytz                 2023.3.post1
requests             2.31.0
requests-oauthlib    1.3.1
setuptools           59.6.0
six                  1.16.0
soupsieve            2.5
SQLAlchemy           2.0.21
SQLAlchemy-Utils     0.41.1
tomli                2.0.1
tomlkit              0.12.1
typed-ast            1.5.5
typing_extensions    4.8.0
urllib3              2.0.5
URLObject            2.4.3
Werkzeug             2.3.0
wrapt                1.15.0
WTForms              3.0.1
