adal
asn1crypto
astroid
azure-common
azure-mgmt-storage
azure-storage-blob
azure-storage-common
bcrypt
beautifulsoup4
blinker
bs4
certifi
cffi
chardet
Click
colorama
cryptography
Flask
Flask-Admin
Flask-Bcrypt
Flask-Login
Flask-Mail
Flask-Sitemap
Flask-SQLAlchemy
Flask-WTF
idna
isodate
isort
itsdangerous
Jinja2
lazy-object-proxy
MarkupSafe
mccabe
msrest
msrestazure
mysqlclient
oauthlib
Pillow
pycparser
PyJWT
pylint
PyMySQL
python-dateutil
python-dotenv
pytz
requests
requests-oauthlib
six
soupsieve
SQLAlchemy
SQLAlchemy-Utils
typed-ast
urllib3
URLObject
Werkzeug
wrapt
WTForms
