{% extends 'base.html' %}

{% block head %}
<meta name=”description” content="Check out our audio recordings from our weekly devotionals.">
<link rel="stylesheet" href="{{ url_for('static', filename='main/css/devotional.css') }}">
<title>{{ title }}</title>
{% endblock %}

{% block body %}
<br>
    <div class="title"><b>Devotionals</b></div>
    <br>
    

<div class="page-container">

    {% for devotional in devotionals.items %}
    
    <div class="devo-container grid-item">
        
        <h3 class="devo-title">{{ devotional.title }}</h3>
        <p>{{ devotional.content }}</p>
        <audio controls>
            <source src="{{ devotional.download_link }}">
            </audio>
            
        </div>
        
        <br>
        {% endfor %}
    </div>
        
        <div class="pag">
            {% for page_num in devotionals.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
            {% if devotionals.page == page_num %}
            <a class="btn btn-info mb-4" href="{{ url_for('main_bp.devotionals', page=page_num) }}">{{ page_num }}</a>
            {% else %}
            <a class="btn btn-outline-info mb-4" href="{{ url_for('main_bp.devotionals', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
            {% else %}
            ...
            {% endif %}
            {% endfor %}
        </div>
        
{% endblock %}