{% extends 'base.html' %}

{% block head %}
<meta name=”description” content="Welcome to the home of Renewed Hope - A Christian guild in World of Warcraft">
<link rel="stylesheet" href="{{ url_for('static', filename='main/css/slider.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='main/css/index.css') }}">
<title>{{ title }}</title>
{% endblock %}

{% block body %}

    <div class="main-container">

        <div class="text-center"><img class="banner-img"src="{{url_for('static', filename='main/img/RH_Banner_WW2.jpg')}}" alt="Renewed Hope Banner"></div>

        <div class="content-container"> <!-- Holds the three main widgets -->


            <div class="announcment-container">


                <div id="myCarousel" class="carousel slide news" data-ride="carousel">

                    <div class="carousel-inner">
                        {% for announcement in announcements %}
                        
                            <div class="carousel-item {% if loop.first %}active{% endif %}">
                                {% if announcement.link %}
                                <a href="{{ announcement.link|safe }}" target="_blank">
                                    <h2>{{ announcement.title }}</h2>
                                    <p>{{ announcement.description }}</p>
                                    <p class="text-warning">{{ announcement.link }}</p>
                                </a>
                                {% else %}
                                    <h2>{{ announcement.title }}</h2>
                                    <p>{{ announcement.description }}</p>   
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>

                </div>
                    

                
                <div class="nav-arrows">
                    <a class="carousel-ctrl-prev" href="#myCarousel" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-ctrl-next" href="#myCarousel" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
                
                
                <div>
                    
                    <a id="devo" href="{{ devotional.download_link }}" target="_blank">
                        <div class="devotional-card-label">
                            <div class="devotional-card-content">
                                <h2>{{ devotional.title }}</h2>
                                {{ devotional.content }}
                            </div>
                        </div>
                    </a>
                </div>
                
            </div>
            
            <div class="extra-life-container">
                <div class="extra-life-title">Extra Life</div>
                <div class="extra-life-widget">
                   <a href="https://www.extra-life.org/team/67571">
                       <img src="{{url_for('static', filename='main/img/el-web-logo.jpg')}}" alt="Extra Life Image">
                    </a>
                </div>
            </div>    
                        
            <div class="widgets text-center">
                <div class="wowhead-title"><img id="wowhead-logo"
                    src="{{ url_for('static', filename='main/img/wow-head-logo.png') }}">WowHead News</div>
                    {% for anchor in news %}
                    {% if loop.index is divisibleby 2 %}
                    <div class="article-wowhead">{{ anchor.anchor|safe }}</div>
                    {% else %}
                    <div class="article-wowhead wowhead-light">{{ anchor.anchor|safe }}</div>
                    {% endif %}
                    {% endfor %}
            </div>
                
                    
        </div> <!-- End content-container -->

    </div><!-- End main-container -->

{% endblock %}