body {
    color: white;
}
.content-section {
    margin-top: 15vh;
}

.form-group, .form-check {
    width: 70%;
    margin-left:15%;
    margin-right:15%;
}
.form-control-label {
    color:white;
}

.modal-content {
    background-color: black;
}


.join {
 text-align: center;
}