body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.top-nav > li img {
    height: 20px;
    width: 20px;
    
}

table {
    display: inline;
}

video {
    position: fixed;
    right: 0;
    bottom: 0;
    top: 25px;
    min-width: 100%;
    min-height: 100%;
}

h1 {
    text-align: center;
}

ul {
    padding: 0;
    margin-top: 0;
    list-style: none;
    background-color: rgba(56, 56, 61, 0.9);
}

li {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 5px;
    padding-bottom: 5px;
}

td {
    text-align: center;
    padding: 5px;
}

.top-nav {
    display: flex;
    justify-content: center;
}

a {
    color: white;

}

.logo {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 25%;
    width: 50%;
}

.form {
    margin-top: 20px;
}


#content {
    width:30%;
    font-size: 1.2em;

}
input {
    height:30px;
}
