{% extends 'admin-nav.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='manage/css/form.css') }}">
<title>Add Devotional</title>
{% endblock %}

{% block body %}
    <div class="devotional">
        <div class="title-bar">
            <h1>Devotional Panel</h1>
        </div>
        <br>
        <div class="form-container">
            <form action="/add_devotional", method="POST" id=devo>
                <label name="lead">Lead</label>
                <input type="text" name="lead", id="lead">
                <br>
                <label name="date">Date</label>
                <input type="date" name="date", id="date">
                <br>
                <label name="description">Description</label>
                <textarea name="description" form="devo"></textarea>
                <br>
                <label name="link">Download Link</label>
                <input type="text" name="link", id="link">
                <br>
                <input type="submit" value="Add Devotional">

            </form>
        </div>
        <br>
        <br>
        <table>
            <tr>
                <th class="title">Title</th>
                <th>Lead</th>
                <th class="date">Date</th>
                <th>Discription</th>
                <th>Download Link</th>
                <th>Date Updated</th>
                <th>Actions</th>
            </tr>
            {% for devotional in devotionals %}
            
            <tr>
                <td>{{ devotional.title }}</td>
                <td>{{ devotional.lead }}</td>
                <td>{{ devotional.date }}</td>
                <td>{{ devotional.content }}</td>
                <td>{{ devotional.download_link }}</td>
                {% if devotional.date_updated == None %}
                <td>{{ devotional.date_updated }}</td>
                {% else %}
                <td>{{ devotional.date_updated.strftime('%m-%d-%Y') }}</td>
                {% endif %}
                <td>
                    <a id="delete" href="/confirm?id={{ devotional.id }}&confirm_type=Devotional">Delete</a>
                    <br>
                    <a id="update" href="/devotional_update/{{ devotional.id }}">Update</a>
                </td>
            </tr>
            
            {% endfor %}
        </table>

    </div>

{% endblock %}