<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Log</title>
</head>
<style>
    body {
        background-color: black;
        color: white;
    }
</style>
<h2>7/30/20</h2>
<ul>
    <li>Added an "Acknowledge" button to the manage users page to clear the message alert without replying to the user.</li>
</ul>
<h2>7/3/20</h2>
<ul>
    <li>Added pagintation to the events admin section and defaulted the page to show events from today on. </li>
    <li>Sorted applications by status so pending application go to the top. </li>
</ul>


<h2>5/9/20</h2>
<ul>
    <li>Sorted the applications by date (dec) in managment panel</li>
    <li>Sorted user messages by date (dec) in account view, moved the "Post Reply" button to the top and added a tooltip</li>
</ul>


</html>