<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Log</title>
</head>
<style>
    body {
        background-color: black;
        color: white;
    }
</style>
<h2>9/26/20</h2>
<ul>
    <li>Added a News Cast page to display the current Video from Twitch</li>
    <li>Added a page in the managment panel to add News Cast embed (iframe) links to be displayed</li>
    <li>Added an archive page to show previous News Casts</li>
    <li>Minor other tweaks</li>
</ul>

<h2>8/24/20</h2>
<ul>
    <li>Replaced the Discord icon and link from the main nav bar with a news icon and link</li>
</ul>

<h2>8/21/20</h2>
<ul>
    <li>Added a page for Shadowlands information</li>
    <li>Added the Extra Life widget back into the home page</li>
    <li>Restyled the home page...again. Resizing is better but not 100% on the look.</li>
    <li>Minor other tweaks</li>

</ul>

<h2>7/30/20</h2>
<ul>
    <li>Added an "Acknowledge" button to the manage users page to clear the message alert without replying to the user.</li>
</ul>

<h2>7/10/20</h2>
<ul>
    <li>Changed the Character limit for the self_description field to 2000 characters </li>
    <li>Changed the Character limit for the play_when field to 1000 characters </li>
    <li>Restyled several of the management pages to better display longer text fields</li>
</ul>

<h2>7/3/20</h2>
<ul>
    <li>Added pagintation to the events admin section and defaulted the page to show events from today on. </li>
    <li>Sorted applications by status so pending application go to the top. </li>
</ul>


<h2>5/9/20</h2>
<ul>
    <li>Sorted the applications by date (dec) in managment panel</li>
    <li>Sorted user messages by date (dec) in account view, moved the "Post Reply" button to the top and added a tooltip</li>
</ul>


</html>