<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='manage/css/manage.css')}}">

    <title>{% block title %}  {% endblock title %}</title>
</head>

<body>
    <div class="grid-container container-fluid">
        <div class="side-nav">
            <ul class="nav nav-pills flex-column">

                <li class="nav-item">
                    <a href="/admin" class="nav-link btn btn-dark brn-sm">Admin Home</a>
                </li>

                <li class="nav-item">
                    <a href="/announcements" class="nav-link btn btn-dark brn-sm">Announcments</a>
                </li>

                <li class="nav-item">
                    <a href="/events" class="nav-link btn btn-dark brn-sm">Events</a>
                </li>

                <li class="nav-item">
                    <a href="/devotionals" class="nav-link btn btn-dark brn-sm">Devotionals</a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link btn btn-dark brn-sm disabled" aria-disabled="true">(Applications coming soon)</a>
                </li>
                {% if current_user.rank < 6 %}
                <li class="nav-item">
                    <a href="/manage_users" class="nav-link btn btn-dark brn-sm">Manage Users</a>
                </li>
                {% endif %}

                <li class="nav-item">
                    <a href="{{ url_for('main.logout') }}" class="nav-link btn btn-sm btn-danger">Logout</a>
                </li>

            </ul>
        </div>
        <div class="side-body">
            {% block body %}

            {% endblock body %}
        </div>
    </div>

    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    

</body>

</html>