{% extends "manage_base.html" %}


{% block title %}
Manage Applications
{% endblock title %}




{% block body %}
<div class="container">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron p-3">

                <h2>Applications</h2>

                <!--####################### Flashed message block ########################-->
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success alert-dismissable" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}


                <table class="table table-hover table-dark">

                    <tr>
                        <th>Name</th>
                        <th>Application Date</th>
                        <th>Battle Tag</th>
                        <th>Authenticator?</th>
                        <th>Joining how?</th>
                        <th>Found us how?</th>
                        <th>Describe self</th>
                        <th>Play times?</th>                        
                        <th>Application status</th>
                    </tr>

                    {% for application in applications %}
                    <tr>
                        <td>{{ application.application.name }}</td>
                        <td>{{ application.application.app_date.strftime("%-m-%-d-%Y %-I:%M") }} UTC</td>
                        <td>{{ application.application.b_tag }}</td>
                        <td>{{ application.application.have_auth }}</td>
                        <td>{{ application.application.join_how }}</td>
                        <td>{{ application.application.find_how }}</td>
                        <td>{{ application.application.self_description }}</td>
                        <td>{{ application.application.play_when }}</td>
                        <td>{{ application.application.status }}</td>
                        <td class="manage-btn text-center">
                            <a href="" class="message_user_btn btn btn-info btn-xs mb-1" data-toggle="modal"
                            data-target="#message_modal{{ application.id }}">Message User</a>
                            {% if application.application.status != "Approved" and application.application.status != "Rejected" %}
                            <form action="{{ url_for('manage.manage_applications') }}" method="POST">
                                {% if application.application.have_auth == "Yes" %}
                                <input type="hidden" name="rank" value=7>
                                {% else %}
                                <input type="hidden" name="rank" value=8>
                                {% endif %}
                                <input type="hidden" name="approve" value="True">
                                <input type="hidden" name="user_id" value="{{ application.id }}">
                                <input type="hidden" name="from_user" value="{{ current_user.username }}">
                                <input type="hidden" name="from_user_image" value="{{ current_user.image_file }}">
                                <button type="submit" onclick="return confirm('Are you sure you want to approve this application?')" class="btn btn-success hide-after-review mb-1">Approve</button>
                            </form>
                            <form action="{{ url_for('manage.manage_applications') }}" method="POST">
                                <input type="hidden" name="approve" value="False">
                                <input type="hidden" name="user_id" value="{{ application.id }}">
                                <input type="hidden" name="from_user" value="{{ current_user.username }}">
                                <input type="hidden" name="from_user_image" value="{{ current_user.image_file }}">
                                <button type="submit" onclick="return confirm('Are you sure you want to reject this application?')" class="btn btn-danger hide-after-review">Reject</button>
                            </form>
                            {% endif %}
                        </td>

                    </tr>

                    <div id="message_modal{{ application.id }}" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Message User</h4>
                                </div>
                                <div class="modal-body">
                                    <form action="{{ url_for('main.messages') }}" method="POST">

                                        <!-- <div class="form-group">
                                            <label>Message Title</label>
                                            <input type="text" class="form-control" name="message_title" required="1">
                                        </div> -->
                                        <input type="hidden" name="from_user" value="{{ current_user.id }}">
                                        <input type="hidden" name="id" value="{{ application.id }}">
                                        <input type="hidden" name='db' value='User'>
                                        <input type="hidden" name='return' value='manage.manage_applications'>
                                        <div class="form-group">
                                            <label>Message Body</label>
                                            <textarea type="text" rows="5" cols="60" class="form-control" name="message_body" required="1" autofocus></textarea>
                                        </div>

                                        <button class="btn btn-primary" type="submit">Message {{ application.application.name }} </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                  
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock body %}