{% extends "manage_base.html" %}


{% block title %}
User Rank
{% endblock title %}




{% block body %}
<div class="container">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron p-3">

                <h2>Current Users</h2>

                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success alert-dismissable" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>

                {% endfor %}
                {% endif %}
                {% endwith %}


                <table class="table table-hover table-dark">

                    <tr>
                        <th>User Name</th>
                        <th>Email</th>
                        <th>Rank</th>
                    </tr>

                    {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ rank_list[(user.rank - 1)] }}</td>
                        
                            
                                <td class="manage-btn">
                                    <a href="" class="message_user_btn btn btn-info btn-xs" data-toggle="modal"
                                    data-target="#message_modal{{ user.id }}">Messages</a>
                                </td>
                                <td class="manage-btn">
                                    <a href="" class="btn btn-warning btn-xs" data-toggle="modal"
                                        data-target="#edit_modal{{ user.id }}">Edit</a>
                                </td>
                                <td class="manage-btn">
                                    <form action="{{ url_for('manage.delete') }}" method="POST">
                                        <input type="hidden" name="db" value="User">
                                        <input type="hidden" name="id" value="{{ user.id }}">
                                        <input type="hidden" name="search" value="False">
                                        <button type="submit" class="btn btn-danger btn-xs"
                                            onclick="return confirm('Are you sure you want to delete?')">Delete</button>
                                    </form>
                                </td>
                    </tr>

                    <div id="message_modal{{ user.id }}" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Message User</h4>
                                </div>
                                <div class="modal-body">
                                    <form action="{{ url_for('main.messages') }}" method="POST">

                                        <div class="form-group">
                                            <label>Message Title</label>
                                            <input type="text" class="form-control" name="message_title" required="1">
                                        </div>
                                        <input type="hidden" name="from_user" value="{{ current_user.id }}">
                                        <input type="hidden" name="id" value="{{ user.id }}">
                                        <input type="hidden" name='db' value='User'>
                                        <input type="hidden" name='return' value='manage.manage_users'>
                                        <div class="form-group">
                                            <label>Message Body</label>
                                            <textarea type="text" class="form-control" name="message_body" required="1">
                                            </textarea>
                                        </div>

                                        <button class="btn btn-primary" type="submit">Message {{ user.username }} </button>
                                    </form>
                                </div>
                                <div class="previous-messages">
                                    <br>
                                    <h3 class="previous-messages-heading">Previous messages for {{ user.username }}</h3>
                                    <br>
                                    {% for message in user_messages %}
                                    {% if message.user_id ==  user.id %}
                                        {% if message.from_user == current_user.username %}
                                            <p class="user-color">From: {{ message.from_user  }}  {{ message.message_date.strftime("%-m-%-d-%y %-I:%M %p") }}</p>
                                        {% else %}
                                            <p class="other-color">From: {{ message.from_user }}  {{ message.message_date.strftime("%-m-%-d-%y %-I:%M %p") }}</p>
                                        {% endif %}

                                        <h4>{{ message.message_title }}</h4>
                                        <h5>{{ message.message_body }}</h5>
                                    {% endif %}

                        
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>


                    <div id="edit_modal{{ user.id }}" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Update User Info</h4>
                                </div>
                                <div class="modal-body">
                                    <form action="{{ url_for('manage.manage_users') }}" method="POST">

                                        <div class="form-group">
                                            <label>Username:</label>
                                            <input type="text" class="form-control" name="username" required="1"
                                                value="{{ user.username }}">
                                        </div>
                                        <input type="hidden" name="id" value="{{ user.id }}">
                                        <input type="hidden" name='db' value='User'>
                                        <div class="form-group">
                                            <label>Email</label>
                                            <p class="form-control" name="email">{{ user.email }}</p>
                                        </div>

                                        <div class="form-group">
                                            <label>Rank:</label>
                                            <input list="ranks" class="form-control" name="rank" required="1"
                                                placeholder="{{ rank_list[(user.rank - 1 )] }}">
                                        </div>

                                        <datalist id="ranks">
                                            {% for i in range(current_user.rank, 11) %}
                                            <option>{{rank_list[i]}}</option>
                                            {% endfor %}
                                        </datalist>
                                        <button class="btn btn-primary" type="submit">Update User Info</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock body %}