{% extends "manage_base.html" %}


{% block title %}
Admin Home
{% endblock title %}


{% block body %}
<div class="container">
    <div class="row">
        <div class="col md-12">
    <div class="jumbotron p-3">
        <div class="well text-container">
            <h1>Guild Control Center</h1>
            <a href="/"><img id="rh-icon" class="float-right" src="{{ url_for('static', filename='main/img/RH_icon.png') }}" alt="Renewed Hope Icon"></a>
        </div>
    </div>
    
    {% if applicants %}
    <h1 class="text-success my-4">There Are Applicants Waiting For Approval!</h1>
    {% for applicant in applicants %}
    {% if applicant.user_id %}
    <h3 class="applicants my-2"><a class="message_user_btn btn btn-success btn-xs mb-1"
        href="{{ url_for('manage.user_control', id=applicant.user_id) }}">Application </a> {{ applicant.name }}  ({{ applicant.b_tag }}) applied on {{ applicant.app_date.strftime("%m/%d/%Y") }}</h3>
    <br>
    {% endif %}
    {% endfor %}
    {% endif %}
    
    {% if no_ack %}
    <h1 class="text-danger my-4">There Are Messages Waiting To Be Acknowledged!</h1>
        {% for message in no_ack %}
        {% if message.user_id %}
        <h3 class="applicants my-2"><a class="message_user_btn btn btn-danger btn-xs mb-1"
            href="{{ url_for('manage.user_control', id=message.user_id) }}">Message </a> From {{ message.from_user }} on {{ message.message_date.strftime("%m/%d/%Y")  }}</h3>
        <br>
        {% endif %}
        {% endfor %}
    {% endif %}

    
    <h2 class="text-primary">Current Announcements</h2>
    {% for announcement in announcements %}
    <div id="announcment{{announcement.id}}" class="announc-item tab">{{announcement.title}}</div>
    {% endfor %}
    <br>
    
    <h2 class="text-info">Upcoming Events</h2>
    {% for event in events %}
    <div id="event{{event.id}}" class="event-item tab">{{ event.title}} : {{event.date.strftime("%m/%d/%Y")}}</div>
    {% endfor %}
    <br>
    
    <h2>Recently Posted Devotionals</h2>
    {% for devotional in devotionals %}
    <div id="devotional{{devotional.id}}" class="devo-item tab">{{devotional.title}} - Lead: {{devotional.lead}}</div>
    {% endfor %}
    
    
    
    
    
</div>
    
</div>
</div>
    {% endblock body %}