{% extends "manage_base.html" %}


{% block title %}
Announcement
{% endblock title %}




{% block body %}
<div class="container">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron p-3">
    
                <h2>Announcements <button type='button' class="btn btn-success float-right" data-toggle='modal' data-target="#announce_modal">Add New Announcement</button></h2>
                <!-- <img id="rh-icon" src="{{ url_for('static', filename='main/img/RH_icon.png') }}" alt="Renewed Hope Icon"> -->
                


<table class="table table-hover table-dark">

    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Link</th>
    </tr>
{% for announcement in announcements %}
    <tr>
        <td>{{ announcement.title }}</td>
        <td>{{ announcement.description }}</td>
        <td>{{ announcement.link }}</td>
        <td>
            <a href="" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#edit_modal{{ announcement.id }}">Edit</a>
            <a href="" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure you want to delete?')">Delete</a>

        </td>
    </tr>

    <div id="edit_modal{{ announcement.id }}" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Update Announcement</h4>
                </div>
                <div class="modal-body">
                    <form action="" method="POST">
    
                        <div class="form-group">
                            <label>Title:</label>
                            <input type="text" class="form-control" name="title" required="1" value="{{ announcement.title }}">
                        </div>
                        <input type="hidden" name="id" value="{{ announcement.id }}">
                        <div class="form-group">
                            <label>Description:</label>
                            <input type="text" class="form-control" name="description" required="1" value="{{ announcement.description }}">
                        </div>
    
                        <div class="form-group">
                            <label>Link:</label>
                            <input type="text" class="form-control" name="link" value="{{ announcement.link }}">
                        </div>
    
                        <button class="btn btn-primary" type="submit">Update Announcement</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}
</table>
</div>
</div>
</div>
</div>

<div id="announce_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Announcement</h4>
            </div>
            <div class="modal-body">
                <form action="" method="POST">

                    <div class="form-group">
                        <label>Title:</label>
                        <input type="text" class="form-control" name="name" required="1">
                    </div>

                    <div class="form-group">
                        <label>Description:</label>
                        <input type="text" class="form-control" name="description" required="1">
                    </div>

                    <div class="form-group">
                        <label>Link:</label>
                        <input type="text" class="form-control" name="link">
                    </div>

                    <button class="btn btn-primary" type="submit">Add Announcement</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- https://youtu.be/XTpLbBJTOM4?t=1963 -->
{% endblock body %}