<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Log</title>
</head>
<style>
    body {
        background-color: black;
        color: white;
    }
</style>
<h2>2/23/21</h2>
<ul>
    <li>Changed the calendar event discription add/update fields to allow more text to be displayed</li>
    <li>Change the DB model to allow for longer text to display in the calendar event add/update fields</li>
</ul>
<h2>2/22/21</h2>
<ul>
    <li>Switched to timezone aware date units to correctly use CST</li>
    <li>Cleaned up some date formatting on the admin main page</li>
    <li>Changed some database time defaults to match the CST defaults</li>
</ul>
<h2>2/19/21</h2>
<ul>
    <li>Removed the ExtraLife widget for now</li>
    <li>Removed the Wowprogress ranking widget</li>
    <li>Removed the "Shadowlands is coming" page</li>
    <li>Restyled the WowHead news widget</li>
    <li>Fix a rounding bug that showed the wrong starting page in the events sections of the manage pages</li>
    <li>Added some text to better clearify who sees notes in the user control pages</li>
    <li>Switched the website to use CTS instead of UTC :TODO: still need to rework the DB to update past time entires</li>
</ul>
<h2>10/26/20</h2>
<ul>
    <li>Removed the option to delete users from the user control pages</li>
    <li>Fixed a bug where a deleted user with an unacknowledged message would break the admin main page</li>
    <li>Fixed a bug that was breaking announcement links</li>
</ul>

<h2>10/24/20</h2>
<ul>
    <li>Changed the Guild Control Center (Admin Home) page to add basic info and links to current applications and user messages</li>
    <li>Removed the Application section and integrated it into the Manage Users section</li>
    <li>Manage Users now has four sections for "Applications", "Members" "Rejected" and "Deleted Users"</li>
    <li>All sections (except Deleted Users) have a button for a User Control Page for each listed user</li>
    <li>Each User Control Page now has context appropriate buttons for approving/rejecting, messaging, editing or deleting users</li>
    <li>The User Control pages now list the entire message history</li>
    <li>The User Control pages now have a notes section</li>
    <li>Fixed a bug that was assigning the wrong rank when an application was approved</li>
</ul>

<h2>9/26/20</h2>
<ul>
    <li>Added a News Cast page to display the current Video from Twitch</li>
    <li>Added a page in the management panel to add News Cast embed (iframe) links to be displayed</li>
    <li>Added an archive page to show previous News Casts</li>
    <li>Minor other tweaks</li>
</ul>

<h2>8/24/20</h2>
<ul>
    <li>Replaced the Discord icon and link from the main nav bar with a news icon and link</li>
</ul>

<h2>8/21/20</h2>
<ul>
    <li>Added a page for Shadowlands information</li>
    <li>Added the Extra Life widget back into the home page</li>
    <li>Restyled the home page...again. Resizing is better but not 100% on the look.</li>
    <li>Minor other tweaks</li>

</ul>

<h2>7/30/20</h2>
<ul>
    <li>Added an "Acknowledge" button to the manage users page to clear the message alert without replying to the user.</li>
</ul>

<h2>7/10/20</h2>
<ul>
    <li>Changed the Character limit for the self_description field to 2000 characters </li>
    <li>Changed the Character limit for the play_when field to 1000 characters </li>
    <li>Restyled several of the management pages to better display longer text fields</li>
</ul>

<h2>7/3/20</h2>
<ul>
    <li>Added pagination to the events admin section and defaulted the page to show events from today on. </li>
    <li>Sorted applications by status so pending application go to the top. </li>
</ul>


<h2>5/9/20</h2>
<ul>
    <li>Sorted the applications by date (dec) in management panel</li>
    <li>Sorted user messages by date (dec) in account view, moved the "Post Reply" button to the top and added a tooltip</li>
</ul>


</html>
