{% extends "manage_base.html" %}


{% block title %}
Scheduled Events
{% endblock title %}




{% block body %}
<div class="container">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron p-3">

                <h2>Scheduled Events <button type='button' class="btn btn-success float-right" data-toggle='modal'
                        data-target="#event_modal">Schedule an Event</button></h2>

                <form action="/search" method="POST">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button class="btn btn-primary" type="submit">Search</button>
                        </div>
                        <input type="hidden" name="db" value="Calendar">
                        <input type="text" class="form-control" name="search" required="1">
                    </div>
                </form>
                <br>


                <!--####################### Flashed message block ########################-->
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissable" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}


                <table class="table table-hover table-dark">

                    <tr>
                        <th>Title</th>
                        <th class="cell-5-vw">Date</th>
                        <th>Time</th>
                        <th>Description</th>
                        <th>Lead</th>
                        <th>Symbol</th>
                        <th></th>
                    </tr>
                    {% for event in events.items %}
                    <tr>
                        <td>{{ event.title }}</td>
                        <td>{{ event.date.strftime('%m-%d-%y') }}</td>
                        <td>{{ event.time }}</td>
                        <td>{{ event.description }}</td>
                        <td>{{ event.lead }}</td>
                        <td><img class="icon-small" src="{{ event.symbol }}" alt="icon"></td>
                        
                        <td>
                            <a href="" class="btn btn-warning btn-xs cell-5-vw" data-toggle="modal"
                                data-target="#edit_modal{{ event.id }}">Edit</a>
                            <form action="{{ url_for('manage_bp.delete') }}" method="POST">
                                <input type="hidden" name="db" value="Calendar">
                                <input type="hidden" name="id" value="{{ event.id }}">
                                <input type="hidden" name="search" value="False">
                                <!-- <a href="" type="submit" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure you want to delete?')">Delete</a> -->
                                <button type="submit" class="btn btn-danger btn-xs cell-5-vw"
                                    onclick="return confirm('Are you sure you want to delete?')">Delete</button>

                            </form>

                        </td>
                    </tr>

                    <div id="edit_modal{{ event.id }}" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Update Event</h4>
                                </div>
                                <div class="modal-body">
                                    <form action="{{ url_for('manage_bp.update') }}" method="POST">

                                        <div class="form-group">
                                            <label>Title:</label>
                                            <input type="text" class="form-control" name="title" required="1"
                                                value="{{ event.title }}">
                                        </div>

                                        <div class="form-group">
                                            <label>Date:</label>
                                            <input type="date" class="form-control" name="date" required="1"
                                                value="{{ event.date.strftime('%Y-%m-%d') }}">
                                        </div>

                                        <input type="hidden" name="id" value="{{ event.id }}">

                                        <input type="hidden" name='db' value='Calendar'>

                                        <div class="form-group">
                                            <label>Time:</label>
                                            <input type="text" class="form-control" name="time"
                                                value="{{ event.time }}">
                                        </div>

                                        <div class="form-group">
                                            <label>Description:</label>
                                            <textarea type="text" rows="10" class="form-control" name="description" required="1" value="{{ event.description }}"></textarea>

                                        </div>

                                        <div class="form-group">
                                            <label>Event Lead:</label>
                                            <input type="text" class="form-control" name="lead" value="{{ event.lead }}">
                                        </div>

                                        <div class="form-group">
                                            <label>Symbol:</label>
                                            <input list="symbols" class="form-control" name="symbol" required="1">
                                        </div>

                                        <datalist id="symbols">
                                            <option>Mythic+</option>
                                            <option>Devotionals</option>
                                            <option>Progression Raid</option>
                                            <option>Casual Raid</option>
                                            <option>Other</option>
                                        </datalist>

                                        <button class="btn btn-primary" type="submit">Update Event</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

<div id="event_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Schedule an Event</h4>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('manage_bp.insert') }}" method="POST">
                    <input type="hidden" name='db' value='Calendar'>
                    <div class="form-group">
                        <label>Title:</label>
                        <input type="text" class="form-control" name="title" required="1">
                    </div>

                    <div class="form-group">
                        <label>Start Date:</label>
                        <input type="date" class="form-control" name="date" required="1">
                    </div>

                    <div class="form-group">
                        <label>Time:</label>
                        <input type="text" class="form-control" name="time" required="1">
                    </div>

                    <div class="form-group">
                        <label>Description:</label>
                        <textarea type="text" rows="10" class="form-control" name="description" required="1"></textarea>
                    </div>

                    <div class="form-group">
                        <label>Event Lead:</label>
                        <input type="text" class="form-control" name="lead">
                    </div>

                    <div class="form-group">
                        <label>Symbol:</label>
                        <input list="symbols" class="form-control" name="symbol" required="1">
                    </div>

                    <datalist id="symbols">
                        <option>Mythic+ <span class="font-blue">M</span></option>
                        <option>Devotionals <span class="font-gold">&#0096;</span></option>
                        <option>Progression Raid <span class="font-red">&#0174;</span></option>
                        <option>Casual Raid <span class="font-green">&#0169;</span></option>
                        <option>Other <span class="font-purple">&#0063;</span></option>
                    </datalist>

                    <button type="button" id="repeatButton" class="btn btn-info" onclick=showRepeatOptions()>Repeating event?</button>

                    <div id="n-days" class="form-group" hidden>
                        <label>Every X days: <span class="color-gray">
                                Hint: Repeat once a week = 7
                            </span>
                        </label>
                        <input type="number" class="form-control" name="n-days" value="0">
                    </div>

                    <div id="n-times" class="form-group" hidden>
                        <label>Repeat how many times:</label>
                        <input type="number" class="form-control" name="n-times" value="0">
                    </div>



                    <button class="btn btn-primary float-right" type="submit">Add Event</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="pag">
    {% for page_num in events.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
    {% if events.page == page_num %}
    <a class="btn btn-info mb-4" href="{{ url_for('manage_bp.manage_events', page=page_num) }}">{{ page_num }}</a>
    {% else %}
    <a class="btn btn-outline-info mb-4" href="{{ url_for('manage_bp.manage_events', page=page_num) }}">{{ page_num }}</a>
    {% endif %}
    {% else %}
    ...
    {% endif %}
    {% endfor %}
</div>

<script src="{{ url_for('static', filename='manage/js/manage.js') }}"></script>
{% endblock body %}