body {
    background-color: black;
    color: white;
}

.btn {
    background-color: blue;
    color: white;
    float: right;
}

.form-container {

    width: 10%;
    text-align: right;
    /* margin: 0 auto; */
    left: 0;
}

.form-group {
    margin: 0 auto;
    width: fit-content;
}

legend {
    text-align: left;
}

input {
    margin-bottom: 0.2rem;
}

label {
    display: inline-block;
    vertical-align: top;
    min-width: 6rem;
}

table {
    border-collapse: collapse;
  }
  
table, th, td {
border: 1px solid white;
vertical-align: top;
}

.title {
    width: 120px;
}

.date {
    width: 90px;
}
h1 {
    background-color: black;
    text-align: center; 
}

.form-container {
    background-color: black;
    width: 68%;
    left: 0;
    text-align: right;
}


input {
    width: 600px;
}
textarea {
    width: 600px;
    height: 400px;
    word-wrap: break-word;
    font-size: 2rem;
}
input[type=submit] {
    background-color: blue;
    color: white;
}

a {
    text-decoration: none;
}

.pag {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 2rem auto;
    margin-top: 0;
    font-size: 1.9rem;
    letter-spacing: 0.2rem;
    text-align: center;
}

.btn {
    color: white;
    border: 1px solid #7289da;
    padding: 0.5rem 2rem;
    border-radius: 10px;

}

.btn-info {
    background-color: #7289da;
}

.btn:hover, .btn-info:hover {
    background-color: #7289da;
    border: 1px solid #7289da;
}