body {
    background-color: black;
}

.grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100vh;
    color: white;

}

.side-nav {
    grid-column: 0 / 2;
    position: fixed;
    }
    
.side-body {
     grid-column: 3 / -1;
    }

.jumbotron {
    background-color: rgb(39, 39, 39);
}

#rh-icon {
  width: 4%;
  height: auto;
  margin-top: -3.9em;
  padding: 0;
}


tr {
    color: white;
}


h2 {
    color: royalblue;
}

.modal-content {
    background-color: black;
    border: 1px solid white;
}