body {
    background-color: black;
}

.grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100vh;
    color: white;

}

.side-nav {
    grid-column: 0 / 2;
    position: fixed;
    }

.nav-item {
    margin: 1.5em 0;
    width: 15em;
}
.side-body {
     grid-column: 3 / -1;
     font-size: small;
    
    }

.jumbotron {
    background-color: rgb(39, 39, 39);
    margin: 0;

}

.tab {
    margin-left: 2em;
}

#rh-icon {
  width: 4%;
  height: auto;
  margin-top: -3.9em;
  padding: 0;
}


tr {
    color: white;
}

.devo_link {
    word-break:break-word;
    font-size: xx-small;
}

h2 {
    color: royalblue;
}

h4 {
    color: royalblue;
}


.modal-content {
    background-color: black;
    border: 1px solid white;
}

.cell-5-vw {
    width: 5vw;
}

.cell-10-vw {
    width: 10vw;
}
 .color-gray {
     color: gray;
 }

 .font-red {
    color: red;
}

.font-silver {
    color: silver;
}

.font-blue {
    color: blue;
}

.font-green {
    color: green;
}

.font-purple {
    color: purple;
}

.font-gold {
    color: gold;
}

#symbols {
    font-family: LifeCraft_Font;
}

.font-red, .font-blue, .font-gold, .font-green, .font-purple {
    font-family: LifeCraft_Font
}

.icon-small {
    width: 3em;
    height: auto;
}

.table td, .table th {
    vertical-align: middle;
}

td.manage-btn {
    width: 10px
}

.user-color {
    color:  lightskyblue;
}

.other-color {
    color: red;
}

.previous-messages-heading {
    color:royalblue;
}

.border-bottom {
    border-bottom: white;
}

.modal-content {
    padding: 1em;
}


.message-each-container {
    display: flex;
    align-content: center;
    max-width: 70%;
    border-radius: 20px;
    padding: 1rem 1rem 0 1rem;
    color: black;
    margin: 1rem;
}
.sent {
    background-color: lightskyblue;
    justify-content: flex-start;
    flex-direction: row-reverse;
}

.received {
    background-color: lightseagreen;
}

.message-each-sent {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.message-each-sent img{
    border-radius: 10%;
}

.message-with-date {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 1rem;
}

.message-with-date P {
    font-size: 0.8rem;

}

.message-each-received {
    display: flex;
    flex-direction: column;
    align-items: right;
    background-color: lightseagreen;
    width: 70%;
    border-radius: 20px;
    padding: 1rem;
    color: black;
}

.message-body-inner-go-right {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.modal-content {
    background-color: black;
}

.modal-title {
    color: yellow;
}

textarea {
    width: 100%;
    height: 30vh;
}

.modal-content {
    margin: 5em auto;
}

hr {
    background-color: green;
}

.archive-btn {
    margin-bottom: 3em;
}

.msg-body {
    white-space: pre-wrap;
    white-space: pre-line;
}

.form-group-btn {
    display: flex;
    justify-content: space-between;
}

.new-msg-notify {
    position: relative;
    bottom: 0;
    right: 0;
    color: white;
}
.red {
    background-color: red;
}

.red:hover:after {
    content: " User message waiting";
}