<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="shortcut icon" href="#" />
    <script src="https://kit.fontawesome.com/d7f10e001b.js"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <nav>
        <ul class="top-nav" role="navigation">
            <li><img src="../static/img/RH custom logo.png" alt="Renewed Hope small logo"></li>
            <li><a href="/"><i class="fa fa-home"></i></a></li>  
            <li><a href="./discord"><i class="fab fa-discord"></i></a></li>
            <li><a href="./devotionals"><i class="fas fa-book-reader"></i></a></li>
            <li><a href="./about"><i class="fas fa-info-circle"></i></a></li>
        </ul>
    </nav>
    {% block body %}{% endblock %}
</body>
</html>
