{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/devotional.css') }}">
<title>Devotionals</title>
{% endblock %}

{% block body %}

    <h1>Devotionals</h1>
    <br>
    <br>


            {% for devotional in devotionals %}
            <div class="container">
                <a href="{{ devotional.download_link }}" target="#">
                    <h3>{{ devotional.title }}</h3>
                    <p>{{ devotional.content }}</p>
                </a>
            </div>

            <br>
            {% endfor %}



{% endblock %}