{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/discord.css') }}">
<title>Renewed Hope Discord</title>
{% endblock %}

{% block body %}

<div class="discord" style="background-color: black">
    <!-- <iframe src="https://titanembeds.com/embed/396340890224033792?&theme=DiscordDark&scrollbartheme=minimal" style="position:fixed; top:40px; left:0; bottom:0; right:0; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;">
        Your browser doesn't support iframes</iframe> -->
        <iframe src="https://disweb.deploys.io/channels/396340890224033792/612305861955682305" style="position:fixed; top:3.1rem; left:0; bottom:0; right:0; width:100%; height:96%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;"></iframe>
</div>
{% endblock %}