{% extends 'admin-nav.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='manage/css/update.css') }}">
<title>Event Update</title>
<style>
        body {
            background-color: white;
        }
    </style>
{% endblock %}

{% block body %}

<div class="main-container">
    <br>
        <h1>Announcement Update</h1>
        <br>
        <div class="form-container">
            <form action="/announcement_update/{{ announcement.id }}", method="POST" id="announcement">
                <label name="title">Title</label>
                <input type="text" name="title", id="title", value="{{ announcement.title }}">
                <br>
                <label name="description">Description</label>
                <textarea name="description" form="announcement">{{ announcement.description }}</textarea>
                <br>
                <label name="link">Link</label>
                <input type="text" name="link", id="link", value="{{ announcement.link }}">
                <br>
                <input type="submit" value="Update">
            </form>
        </div>
    </div>

{% endblock %}