body {
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content-section {
    width: 60vw;
    margin: 1em auto;
    text-align: left;
}

.media-body {
    margin-left: 1em;;
}

.apply-btn {
    width: 15em;
    height: 4em;
    font-size: 2em;
    background-color: red;
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 0.5em;
    
}
.apply-btn:hover {
    text-decoration:none;
    color: black;
}

.message-body {
    border: 2px solid green;
    border-radius: 15px;
    padding: 2em;
    margin: 1em;
    max-height: 70vh;
    -ms-overflow-style: none;
    overflow: auto;
}

.message-each-container {
    display: flex;
    align-content: center;
    max-width: 70%;
    border-radius: 20px;
    padding: 1rem 1rem 0 1rem;
    color: black;
}
.sent {
    background-color: lightskyblue;
    justify-content: flex-start;
    flex-direction: row-reverse;
}

.received {
    background-color: lightseagreen;
}

.message-each-sent {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.message-each-sent img{
    border-radius: 10%;
}

.message-with-date {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 1rem;
}

.message-with-date P {
    font-size: 0.8rem;

}

.message-each-received {
    display: flex;
    flex-direction: column;
    align-items: right;
    background-color: lightseagreen;
    width: 70%;
    border-radius: 20px;
    padding: 1rem;
    color: black;
}

.message-body-inner-go-right {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.modal-content {
    background-color: black;
}

.modal-title {
    color: yellow;
}

textarea {
    width: 100%;
    height: 30vh;
}

.modal-content {
    margin: 5em auto;
}

hr {
    background-color: green;
}

.archive {
    margin-bottom: 3em;
}

.msg-body {
    white-space: pre-wrap;
    white-space: pre-line;
}

.form-group-btn {
    display: flex;
    justify-content: space-between;
}