.question_body_container {
    color: white;
    width: 60%;
    height: auto;
    margin: 3em auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.init-info-container {
    font-size: 2em;
    color: blue;
    margin: 0 auto;
    margin-top: 1em;;
    background-color: goldenrod;
    border-radius: 5px;
}

#info-container {
    width: 60vw;
    margin: 0 auto;
    text-align: left;
    font-size: 0.8em;
}

.form-group {
    display: flex;
    flex-direction: column;
}
 ul {
     margin-bottom: 4em;
     list-style-type: none;
 }
