@font-face {
    font-family: LifeCraft_Font;
    src: local(LifeCraft_Font), url('../fonts/LifeCraft_Font.ttf') format('opentype');
}

body {
    color: #DDD;
    
}

.calendar-container, .legend {
    font-family: LifeCraft_Font;
}

.title-heading {
    font-size: 7em;
    color: royalblue;
}

.font-red {
    color: red;
}

.font-silver {
    color: silver;
}

.font-blue {
    color: blue;
}

.font-green {
    color: green;
}

.font-purple {
    color: purple;
}

.font-gold {
    color: gold;
}


h1 {
    color: #7289da;
    font-family: LifeCraft_Font;
}
.month-bar {
    display: flex;
    text-align: center;
    justify-content: center;
    justify-items: center;

}

.back, .next {
    height: 1em;
    margin: auto 3rem;
    color: white;
    font-size: 2em;
    text-decoration: none;
}

.week {
    display: flex;
    font-size: 0.5rem;
    width: 75vw;
    height: 11vh;
    justify-items: center;
    justify-content: center;
    margin: 0 12.5vw;
}

.week-top {
    width: 75vw;
    display: flex;
    justify-content: center;
    justify-items: baseline;
    margin: auto;
}

.day-bar {
    text-align: center;
    width: 15vw;
    min-width: 45px;
    font-size: 1.5em;
}

.day {
    width: 15vw;
    min-width: 45px;
    height: 11vh;
    min-height: 15px;
    border: 5px solid black;
    background-color: #222;
    color: white;
    font-size: 1.5rem;
    display: flex;
}

.modal-symbol {
    margin: 0 0.5em;
}

.empty-day {
    background-color: black;
}

.event {
    height: 4.2vh;
    overflow: hidden;
    font-size: 0.75rem;
    color: white;
    background-color: #7289da;
    border: 1px solid gray;
    border-radius: 5px;
}


.symb-lg {
    font-size: 1em;
}

.icon-small {
    width: 2em;
    height: auto;
}

.modal-title {
    font-size: 2em;
    color: royalblue;
}

.day-title {
    color: palegreen;
}

.day-time {
    color: rgb(224, 228, 27);
}

.day-lead {
    color: skyblue;
}

.modal-content {
    background-color: black;
    color: white;
}

.legend {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    font-size: 2em;
    width: 80%;
}

@media screen and (max-width: 1500px){
    .symb-lg {
        font-size: 0.8em;
    }

    .modal-symbol {
        font-size: 0.5em;
    }

    .title-heading {
        font-size: 3em;
        color: royalblue;
    }

}
/* for all screens from 561px to 800px wide*/
/* Think mobile */
@media screen and (max-width: 800px) {
    .event {
        font-size: 0.6rem;
    }

    .week {
        display: flex;
        width: 75vw;
        height: 11vh;
        justify-items: center;
        justify-content: center;
        margin: 0 12.5vw;
    }

    .day-lg {
        font-size: 1.2rem;
        margin: -0.5em;
    }

    .day-bar {
        font-size: 0.6rem;
    }

    .modal-symbol {
        font-size: 0.5em;
    }

    .legend {
        font-size: 1.1em;
    }

    .icon-small {
        width: 1.3em;
        height: auto;
    }
    
 
}

@media screen and (max-width: 550px) {
    .event {
        font-size: 0.4rem;
    }

    .day-bar {
        font-size: 0.5rem;
    }

    .day-lg {
        font-size: 0.7rem;
    }

    .icon-small {
        width: 3em;
        height: auto;
    }

    .modal-symbol {
        margin: 0;
    }

    .modal-content {
        margin: 0 auto;
        width: 70%;
        height: auto;
        font-size: 1em;
    }

    .modal-body {
        font-size: 1.5em;
    }

    .day-symbol {
        width: 70%;
        height: auto;
    }

    .symb-lg {
        font-size: 1.5em;
    }
 
}