body {
    color: #DDD;
    
}

h1 {
    color: #7289da;
}
.month-bar {
    display: flex;
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.back, .next {
    height: 1em;
    margin: auto 2rem;
    color: white;
}
.week {
    display: flex;
    font-size: 0.5rem;
    width: 75vw;
    height: 11vh;
    justify-items: center;
    justify-content: center;
    margin: 0 12.5vw;
   
}

.week-top {
    width: 75vw;
    display: flex;
    justify-content: center;
    justify-items: baseline;
    margin: auto;
}

.day-bar {
    text-align: center;
    width: 15vw;
    min-width: 45px;
    font-size: 0.55rem;
}

.day {
    width: 15vw;
    min-width: 45px;
    height: 11vh;
    min-height: 15px;
    border: 1px solid white;
    background-color: #222;
    color: white;
    font-size: 0.8rem;
}

.empty-day {
    background-color: black;
}

.event {
    height: 4.2vh;
    overflow: hidden;
    font-size: 0.75rem;
    color: white;
    background-color: #7289da;
    border: 1px solid gray;
    border-radius: 5px;
}

.event:hover {
    width: 25vw;
    height: 25vh;
    position: fixed;
    transform: translate(-75px, -100px);
    font-size: 1.4rem;
    padding: 1rem;
    z-index: 1;
    border-radius: 5px;
    border: 2px solid gray;
    background-color: #7289da;
}
/* for all screens 801px to 1900px wide*/
@media screen and (max-width: 1900px) {

    .event:hover {
        font-size: 1.2rem;
        padding: 0.5rem;
        width: 22vw;
        height: 32vh;
    }

    .event {
        font-size: 0.7rem;
    }

    .week {
        display: flex;
        width: 75vw;
        height: 11vh;
        justify-items: center;
        justify-content: center;
        margin: 0 12.5vw;
       
    }

    .day-bar {
        font-size: 1rem;
    }
 
}

/* for all screens from 561px to 800px wide*/
/* Think mobile */
@media screen and (max-width: 800px) {

    .event:hover {
        padding: 0.5rem;
        font-size: 0.8rem;
        width: 19vw;
        height: 40vh;
        transform: translate(-25px, -120px);
    }

    .event {
        font-size: 0.6rem;
    }

    .week {
        display: flex;
        width: 75vw;
        height: 11vh;
        justify-items: center;
        justify-content: center;
        margin: 0 12.5vw;
       
    }

    .day-bar {
        font-size: 0.6rem;
    }

    .day-lg {
        font-size: 0.7rem;
    }
 
}

@media screen and (max-width: 550px) {

    .event:hover {
        padding: 0.5rem;
        font-size: 0.6rem;
        width: 19vw;
        height: 40vh;
        transform: translate(-25px, -120px);
    }

    .event {
        font-size: 0.4rem;
    }
    .week {
        display: flex;
        width: 75vw;
        height: 11vh;
        justify-items: center;
        justify-content: center;
        margin: 0 12.5vw;
    }

    .day-bar {
        font-size: 0.5rem;
    }

    .day-lg {
        font-size: 0.7rem;
    }
 
}