body {
    color: white;
}

.title {
    text-align: center;
    color: royalblue;
    font-size: 5em;
    text-shadow: 1px 1px 1px slategray;
}

.devo-title {
    color: goldenrod;
}

.page-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-image: url(../img/bible-img.jpg);
    background-repeat: repeat-y;
    background-position: top;

}

.devo-container {
    width: 40%;
    height: auto;
    background-color: #222;
    margin: 3em auto;
    border-radius: 10px;
    /* box-shadow: 5px 5px 5px #333, -5px -5px 5px #222; */
    text-align: left;
    padding: 1em;
    
}

.pag {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 2rem auto;
    margin-top: 1em;
    font-size: 1.9rem;
    letter-spacing: 0.2rem;
    text-align: center;
}

.btn {
    color: white;
    border: 1px solid royalblue;
    padding: 0.5rem 2rem;
    border-radius: 10px;

}

.btn-info {
    background-color: royalblue;
}

.btn:hover, .btn-info:hover {
    background-color: royalblue;
    border: 1px solid royalblue;
}


@media screen and (max-width: 900px) {
   .devo-container {
       font-size: 0.9em;
   }
   audio {
    width: 100%;
}
   
}

@media screen and (max-width: 600px) {
    .devo-container {
        width: 80%;
    }
 
    
 }
