.news {
    position: relative;
    border-radius: 10px;
    margin: 0 auto;
    background-color: #222;
    width: 100%;
     
}

.news__list-container {
    position: relative;
    overflow-x: hidden;
    min-height: 12rem;   
}

.news__list {
    padding: 0;
    margin: 0;
    list-style: none;
    transition: transform 700ms ease-in;
    
    
}

.news__item {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    padding: 0 1rem;
    height: 100%;
}

.news__nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.news__indicator {
    border: 0;
    border-radius: 50%;
    height: 13px;
    width: 13px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.3);
    margin: 0 12px;
    outline: none;
}
.news__indicator:active {
    border: 0;
}

.news__indicator.current-item {
    background: rgba(255, 255, 255, 0.7);
}