{% extends 'base.html' %}

{% block head %}
<meta name=”description” content="Check out our audio recordings from our weekly devotionals.">
<link rel="stylesheet" href="{{ url_for('static', filename='main/css/account.css') }}">
<title>{{ title }}</title>
{% endblock %}

{% block body %}
<!--################## Main info Section ##########################-->
<div class="content-section">
    <div class="media">
        <img src="{{ image_file }}" alt="user_image" class="rounded-circle account-img">
        <div class="media-body">

            <h2 class="account-heading">{{ current_user.username }}</h2>
            <p class="text-secondary">{{ current_user.email }}</p>
            <p class="text-secondary">{{ rank }}</p>
            {% if current_user.rank  < 6 %}
            <a href="/admin" class="btn btn-primary float-right">Admin Panel</a>
            {% endif %}
            {% if current_user.rank > 9 %}

            <a href="{{ url_for('main.apply') }}" class="apply-btn">Apply to Join Renewed Hope</a>

            {% endif %}
        </div>
    </div>
    <!--################################ Message Section ##########################-->
    {% if messages %}
    <div class="message_body">


        {% for message in messages %}
        <div class="message-each">

      
            <h4>{{ message.message_title }}</h4>
            <p>From: {{ message.from_user }}  {{ message.message_date.strftime("%-m-%-d-%y %-I:%M %p")}} UTC</p>
            
            <h5>{{ message.message_body }}</h5>
            <form action="{{ url_for('main.archived') }}" method="POST">
                <input type="hidden" name="message_id" value="{{ message.id }}">
                <button type="submit" class="btn btn-info archive-btn">Archive this post</button>
            </form>
            {% if loop.index == 1 %}
            <div class="button_section">
                <a href="" class="archive btn btn-warning btn-small" data-toggle="modal"
                data-target="#reply_modal-{{ message.id }}">Post a Reply</a>
            </div>
            <p>* Newest Post</p>
            <hr>
        </div>
            {% else %}
            <hr>
        </div>
            {% endif %}

        <div id="reply_modal-{{ message.id }}" class="modal fade" role="dialog">
            <form action="{{ url_for('main.messages') }}" method="POST" id="reply_form">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">RE: {{ message.message_title }}</h4>
                        </div>
                        <input type="hidden" name="from_user" value="{{ message.user_id }}">
                        <input type="hidden" name="message_title" value="RE: {{ message.message_title }}">
                        <input type="hidden" name="return" value="main.account">


                        <div class="modal-body">
                            <div class="bkg-raised">
                                <textarea name="message_body" form="reply_form" placeholder="What would you like to tell us?"></textarea>
                            </div>
                            <input class="btn btn-primary" type="submit">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        {% endfor %}


    </div>
    {% else %}
    <div class="message_body with-border">
        <h2>There are no messages for you at this time</h2>
    </div>
    {% endif %}

   

    <!--###########################     Setting Section   ########################-->
    <dev class="button_section">
        <form action="{{ url_for('main.archived_all') }}" method="POST">
            <button type="button" class="slide_settings"><i class="fa fa-cog" aria-hidden="true"></i></button>
        <button type="submit" class="btn btn-info float-right">Show archived messages</button>
        </form>
    </dev>
        
    <div id="content-slide" class="content-section" style="display:none">
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb4">Account Settings</legend>
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}

                    {% if form.username.errors %}
                    {{ form.username(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.picture.label() }}
                    {{ form.picture(class="form-control-file") }}
                    {% if form.picture.errors %}
                    {% for error in form.picture.errors %}
                    <span class="text-danger">{{ error }}</span><br>
                    {% endfor %}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
                <div class="reset-password-button float-right btn btn-warning">
                    <a href="{{ url_for('main.reset_request') }}">Reset Password</a>
                </div>
            </div>
        </form>

    </div>
</div>
<script>
    window.onload = function () {
        $(".slide_settings").click(function () {
            $("#content-slide").slideToggle();
        });
        $(function() {
            var foundin = $('span:contains("Invalid email address")').length > 0;
            
            if (foundin == true) {               
                $("#content-slide").slideToggle();
            
            };
            
        });
        
    }
</script>
{% endblock %}