{% extends 'base.html' %}

{% block head %}
<meta name=”description” content="Check out our audio recordings from our weekly devotionals.">
<link rel="stylesheet" href="{{ url_for('static', filename='main/css/apply.css') }}">
<title>{{ title }}</title>
{% endblock %}

{% block body %}


<div id="myCarousel" class="carousel slide news" data-ride="carousel" data-interval="false">
  <!-- Carousel indicators -->
  




    <!-- Wrapper for carousel items -->
    <div class="carousel-inner news_list-container inter">




      <div class="carousel-item guild-info active">
        <div class="init-info-container">
          <p class="init-info">Before we get started on the application, please take a quick minute and read through our
            guild info. This should answer most of the questions people have about the guild and also lets you know what
            we expect from our members. </p>
        </div>
        <br>
        <div id="info-container">
          <div id="info-content">
            <br>


            <h3 id="faction">Retail WoW:Alliance - Alexstrasza/Terokkar&#8195;Classic WoW: Alliance - Atiesh</h3>
            <br>

            <h5>We are recruiting:</h5>
            <p>We are recruiting for our progression raid team as well as for anyone who just wants a fun, family
              friendly environment to play in. We are an established Christian guild full of believers and nonbelievers
              alike. Our main focus has been and always will be to provide a fun place for people to enjoy this game
              without dealing with all the harshness and vulgarity that you find in many other guilds. We don’t require
              that our members be Christians but you must respect the beliefs of others. At times (respectful) religious
              talk comes up in chat. If the thought of hearing some occasional “God talk” is bothersome to you than this
              guild probably would not be a good fit.</p>
            <br>
            <h5>We have just a few rules in our guild in order to keep this a place we feel comfortable playing in.</h5>
            <ol>
              <li>
                Keep language and conversations clean. There are an infinite number of guilds where foul language and
                suggestive conversations are the norm. We are proud to be an alternative to that.
              </li>
              <br>
              <li>
                Respect each other. Well duh, right? We come from all walks of life and all backgrounds. We all carry
                our own views and opinions. We must be willing to respect each other even if we don’t always agree.
              </li>
              <br>
              <li>
                Act honorably. When we are out in the game world we represent the guild as a whole. Being a jerk or
                mouthing off to people in game reflects poorly on all of us (and honestly accomplishes nothing).
              </li>
            </ol>
            <br>
            <h5>What we do:</h5>
            <br>
            <b>Raiding:</b>
            <br>
            <p>We have both casual raids and progression raids. Casual raid is mostly on normal difficulty. It is fun
              and relaxed but we do have some minimum ilevel requirements to join and ask that you can follow
              directions. Anyone who can do that can join us. Casual raid is Saturday's from 8 pm to 11 pm.</p>
            <p>Our progression team has stricter requirements and more commitment. We typically have gotten AOTC on most
              raid tiers for the last few expansions and have downed a few mythic bosses. Progression raid nights are
              Tuesday and Thursday, 8pm to 10 pm.</p>
            <b>PVP:</b>
            <br>
            <p>We do world PVP and BGs on Wednesday nights and Rated Battle Grounds on Saturday nights.</p>
            <br>
            <b>Other Activities:</b>
            <br>
            <p>We also like to get guildies together for island expeditions, warfronts, LFR, raiding old content,
              achievement runs, dungeons, leveling, etc.</p>
            <br>
            <b>Devotionals:</b>
            <br>
            <p>We hold a devotional every Monday night via our Discord server. We get together for a message and share
              some prayer requests or praise reports. Participation is not required.</p>
            <br>
            <b>Still interested?</b>
            <br>
            <p>That’s the guild in a nutshell. Not your cup of tea? Thanks for reading. Sounds like your kind of place?
              Press the "Sounds Good to Me" button below to continue the application process. </p>

          </div>
        </div>
        <a class="carousel-ctrl-next btn btn-default good" href="#myCarousel" data-slide="next">
          <span>Sounds Good to Me</span>
        </a>
      </div>


      <div class="carousel-item news_item-1">
        <h2 class="new_list" alt="First Slide">Welcome from Renewed Hope</h2>
        <p class="new_list" alt="First Slide">Thanks for taking a minute to fill out the application to join Renewed
          Hope.
          We like to get to know all potential applicants so we can insure that Renewed Hope would be a great fit for
          you.</p>
        <img src="{{url_for('static', filename='main/img/interview-1.jpg')}}" alt="">
        <a class="carousel-ctrl-next btn btn-default good" href="#myCarousel" data-slide="next">
          <span>Continue</span>
        </a>
      </div>


      <div class="carousel-item news_item-2">
        <img src="{{url_for('static', filename='main/img/interview-2.jpg')}}" alt="">
        
        <div class="form-group">
          <h2 class="new_list" alt="Next Slide">What's your name?</h2>
          <input type="text" id="name">
        </div>
        <a id="cont1" class="carousel-ctrl-next btn btn-default good" href="#myCarousel" data-slide="next">
          <span>Continue</span>
        </a>
      </div>



      <div class="carousel-item news_item-3">
        <img src="{{url_for('static', filename='main/img/interview-2.jpg')}}" alt="">
        <div class="form-group">
          <h2 class="new_list" alt="Next Slide">How will you be joining us?</h2>
          <input type="radio" id="join_how-1" name="join_how" value="Already on the server">
          <label for="join_how-1">Already on the server</label>
          <input type="radio" id="join_how-2" name="join_how" value="Rolling a new toon">
          <label for="join_how-2">Rolling a new toon</label>
          <input type="radio" id="join_how-3" name="join_how" value="Server transfer">
          <label for="join_how-3">Server transfer</label>
        </div>
        <a id="cont2" class="carousel-ctrl-next btn btn-default good" href="#myCarousel" data-slide="next">
          <span>Continue</span>
        </a>
      </div>


      <div class="carousel-item news_item-4">
        <img src="{{url_for('static', filename='main/img/interview-2.jpg')}}" alt="">
        <div class="form-group">
          <h2 class="new_list" alt="Next Slide">How did you find us?</h2>
          <input type="radio" id="find_how-1" name="find_how" value="Search engine (Google, Bing, ect)">
          <label for="find_how-1">Search engine (Google, Bing, ect)</label>
          <input type="radio" id="find_how-2" name="find_how" value="Forum post">
          <label for="find_how-2">Forum post</label>
          <input type="radio" id="find_how-3" name="find_how" value="Friend Refered">
          <label for="find_how-3">Friend Refered</label>
          <input type="radio" id="find_how-4" name="find_how" value="Other">
          <label id="otherLabel" for="find_how-4">Other</label>
        </div>
        <br>
        <a id="cont3" class="carousel-ctrl-next btn btn-default good" href="#myCarousel" data-slide="next">
          <span>Continue</span>
        </a>
      </div>



      <div class="carousel-item news_item-5">
        <img src="{{url_for('static', filename='main/img/interview-2.jpg')}}" alt="">
        <div class="form-group">
          <h2 class="new_list" alt="Next Slide">Tell us a bit about yourself and what your looking for in a guild.</h2>
          <input type="text" id="self_description">
        </div>
        <br>
        <a id="cont4" class="carousel-ctrl-next btn btn-default good" href="#myCarousel" data-slide="next">
          <span>Continue</span>
        </a>
      </div>


      <div class="carousel-item news_item-6">
        easier to reach out to you?</p>
        <img src="{{url_for('static', filename='main/img/interview-2.jpg')}}" alt="">
        <div class="form-group">
          <p>We like to talk to applicants personally before they join. Would you like to share your battle tag to make it easier to reach out to you?</p>
          <input type="text" id="b_tag">
        </div>
        <br>
        <a id="cont5" class="carousel-ctrl-next btn btn-default good" href="#myCarousel" data-slide="next">
          <span>Continue</span>
        </a>
      </div>


      <div class="carousel-item news_item-7">
        <img src="{{url_for('static', filename='main/img/interview-2.jpg')}}" alt="">
        <div class="form-group">
          <h2>What day/times do you normally play?</h2>
          <input type="text" id="play_when">
        </div>
        <br>
        <a id="cont6" class="carousel-ctrl-next btn btn-default good" href="#myCarousel" data-slide="next">
          <span>Continue</span>
        </a>
      </div>


      <div class="carousel-item news_item-8">
        <img src="{{url_for('static', filename='main/img/interview-2.jpg')}}" alt="">
        <h2>Does everything look ok?</h2>
        <div class="formResults"></div>
      </div>

      <div class="carousel-item news_item-9">
        <p>Thanks for applying. We will send this information off to our lovely officers and they will be in touch very
          soon.</p>
        <p>Please visit your account page for application status and messages from leadership.</p>
        <img src="{{url_for('static', filename='main/img/interview-2.jpg')}}" alt="">
        <div class="formResults"></div>
        <!-- <div class="form-group join">
          <a id='formSubmitBtn' class="btn btn-primary">Submit</a>
        </div> -->
      </div>






    </div>
 



  <script src="{{url_for('static', filename='main/js/form_validation.js')}}"></script>
</div>

{% endblock %}