{% extends 'base.html' %}

{% block head %}
<meta name=”description” content="Renewed Hope's calendar of events. See what happening in-game today!">
<link rel="stylesheet" href="{{ url_for('static', filename='main/css/calendar.css') }}">
<title>{{ title }}</title>
{% endblock %}

{% block body %}

<div class="calendar-container" style="background-color: black">
    <div class="month-bar">
        <a href="./guild_calendar?month={{ month - 1 }}&year={{ year }}" class="back">{</a>
        <div class="title-heading">{{month_name}} <span class="font-gold">]</span>&Tab;{{year}}</div>
        <a href="./guild_calendar?month={{ month + 1 }}&year={{ year }}" class="next">}</a>
    </div>

    <div class="calendar-grid">

        <div class="week-top">
            <div class="day-bar">Sunday</div>
            <div class="day-bar">Monday</div>
            <div class="day-bar">Tuesday</div>
            <div class="day-bar">Wednesday</div>
            <div class="day-bar">Thursday</div>
            <div class="day-bar">Friday</div>
            <div class="day-bar">Saturday</div>
        </div>

{% for week in cal %}
    <div class="week">

            {% for day in week %}

            <!-- creating the opening of the day squares for this week-->
            {% if day == 0 %}
                <div class="day empty-day">
            {% else %}
                <!-- Marking the current day -->
                {%if month == current_month and day == current_day %}
                    <div style="background-color:rgb(65, 64, 71)" class="day day-lg">{{day}}&#32;Today
                {% else %}
                    <div class="day day-lg">{{day}}
                {% endif %}
            {% endif %}

                    <!-- For all events in the currently displaying month -->
                    {% for event in events %}

                        {% if day == event.date.day %}
                        <a href="" class="day-modal modal-symbol" data-toggle="modal" data-target="#day_modal{{ event.id }}">
                            <div><img class="icon-small" src="{{ event.symbol }}" alt="icon"></div>
                        </a>
                        
                        <div id="day_modal{{ event.id }}" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title">Today's Events</h1>
                                    </div>
                                    <div class="modal-body">
                                        <div class="bkg-raised">
                                        <h2 class="day-title">{{ event.title }}</h2>
                                        </div>
                                        <div class="bkg-raised">
                                            <h4 class="day-time">{{ event.time }}</h4>
                                        </div>
                                        <div class="bkg-raised">
                                            <div class="day-description">{{ event.description }}</div>
                                        </div>
                                        <div class="bkg-raised">
                                            {% if event.lead %}
                                            <div class="day-lead">Lead: {{ event.lead }}</div>
                                            {% endif %}
                                        </div>
                                        <div class="day-symbol"><img src="{{ event.symbol }}" alt="icon"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        
                    
                    {% endfor %}
                    <!-- For event in events -->

                    </div><!-- This closed the day div -->

                    {% endfor %}
                    <!-- For day in week -->

    </div>
{% endfor %}
<!-- For week in cal  -->


        <div class="legend">
            <div class="legend-list">Myhic+ <b class="font-blue symb-lg">M</b></div>
            <div class="legend-list">Devotionals <b class="font-gold symb-lg">&#0096;</b></div>
            <div class="legend-list">Progression Raid <b class="font-red symb-lg">&#0174;</b></div>
            <div class="legend-list">Casual Raid <b class="font-green symb-lg">&#0169;</b></div>
            <div class="legend-list">Other <b class="font-purple symb-lg">&#0063;</b></div>
        </div>



        {% endblock %}