{% extends 'base.html' %}

{% block head %}
<meta name=”description” content="Welcome to the home of Renewed Hope - A Christian guild in World of Warcraft">
<link rel="stylesheet" href="{{ url_for('static', filename='main/css/slider.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='main/css/index.css') }}">
<title>{{ title }}</title>
{% endblock %}

{% block body %}

    <div class="main-container">


    <div class="banner-container banner-img"></div>

    <div class="content-container">

        <div class="announcment-container">


            <div id="myCarousel" class="carousel slide news" data-ride="carousel">
                <!-- Wrapper for carousel items -->
                <div class="carousel-inner news_list-container">
                    <div class="news_list">
                        {% for announcement in announcements %}
                            {% if loop.index is eq 1 %}
                                <div class="carousel-item news_item active">
                                <h2 class="new_list" alt="First Slide">{{ announcement.title }}</h2>
                                <div class="new_list" alt="First Slide">{{ announcement.description }}</div>
                                {% if announcement.link %}
                                    <div class="new_list" alt="First Slide">{{ announcement.link }}</div>
                                {% endif %}
                                </div>
                            {% else %}
                                <div class="carousel-item news_item">
                                    <h2 class="new_list" alt="Next Slide">{{ announcement.title }}</h2>
                                    <div class="new_list" alt="Next Slide">{{ announcement.description }}</div>
                                    {% if announcement.link %}
                                        <div class="new_list" alt="Next Slide">{{ announcement.link }}</div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>


            <div class="nav-arrows">
                <a class="carousel-ctrl-prev" href="#myCarousel" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-ctrl-next" href="#myCarousel" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>


            <div>

                <a id="devo" href="{{ devotional.download_link }}" target="_blank">
                    <div class="devotional-card-label">
                        <div class="devotional-card-content">
                            <h2>{{ devotional.title }}</h2>
                            {{ devotional.content }}
                        </div>
                    </div>
                </a>
            </div>


        </div>

         <div class="extra-life-container-lg">
                <h2>Extra-Life</h2>
    
                <div class="extra-life-widget">
                    <iframe src="https://www.extra-life.org/index.cfm?fuseaction=widgets.200x420thermo&teamID=51849" width="202"
                        height="422" frameborder="0" scrolling="no">
                        <a href="https://www.extra-life.org/index.cfm?fuseaction=donorDrive.team&teamID=51849"></a>
                    </iframe>
                </div>
            </div>
        <!--<div class="twitter-container-lg">
            <h2>Twitter</h2>

            <div class="extra-life-widget">
                <a class="twitter-timeline" data-width="220" data-height="422" data-theme="dark"
                    href="https://twitter.com/RHtheGuild?ref_src=twsrc%5Etfw">Tweets by RHtheGuild</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div> -->

        <div class="info-blocks">

            <div class="twitter-container">
                <h2>Twitter</h2>

                <div class="extra-life-widget">
                    <div class="extra-life-widget">
                        <a class="twitter-timeline" data-width="220" data-height="422" data-theme="dark"
                            href="https://twitter.com/RHtheGuild?ref_src=twsrc%5Etfw">Tweets by RHtheGuild</a>
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                </div>
            </div>

            <div class="widgets">
                <div class="widget-1">
                    <a id="wowprogress" href="https://wowprogress.com/">
                        <img alt="WoW Guild Rankings" src="https://wowprogress.com/guild_img/755221/out/type.site"
                            border="0" />
                    </a>
                </div>
                <div class="widget-2">
                    <div class="wowhead-title"><img id="wowhead-logo"
                            src="{{ url_for('static', filename='main/img/wow-head-logo.png') }}">WowHead News</div>
                    {% for anchor in news %}
                    {% if loop.index is divisibleby 2 %}
                    <div class="article-wowhead">{{ anchor.anchor|safe }}</div>
                    {% else %}
                    <div class="article-wowhead wowhead-light">{{ anchor.anchor|safe }}</div>
                    {% endif %}

                    {% endfor %}
                </div>
            </div>

        </div>
    </div>

</div>

{% endblock %}