{% extends 'base.html' %}

{% block head %}
<meta name=”description” content="Exciting news about Renewed Hope">
<link rel="stylesheet" href="{{ url_for('static', filename='main/css/news.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap" rel="stylesheet">
<title>{{ title }}</title>
{% endblock %}

{% block body %}
<style>
.mainIFrame {
    height: calc(80vh - 120px) !important;
    width: 80% !important;
    margin-top: 5vh;
    outline: 1px solid bisque;
}
</style>

<div align="center">
    <!-- <iframe class="myFrame" src="https://www.youtube.com/embed/2Z45PsQG50o" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
    <!-- <iframe class="mainIFrame" src="https://player.twitch.tv/?video=752257937&parent=www.renewedhope.us" frameborder="0" allowfullscreen="true" scrolling="no"></iframe> -->
    {{ embed|safe }}

</div>
<div class="info-panel">

    <h1>Renewed Hope New Cast</h1>
    <h3 id="castDate">{{ date }}</h3>
    <a href="{{ url_for('main.news_archive') }}">
        <button id="archiveBtn" type="button" class="btn btn-info">Archives</button>
    </a>
</div>




{% endblock %}