{% extends 'base.html' %}

{% block head %}
<meta name=”description” content="Exciting news about Renewed Hope">
<link rel="stylesheet" href="{{ url_for('static', filename='main/css/news.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap" rel="stylesheet">
<title>{{ title }}</title>
{% endblock %}

{% block body %}
<style>
.myFrame {
    height: calc(80vh - 120px) !important;
    width: 80% !important;
    margin-top: 5vh;
}
</style>
<div align="center">
    <iframe class="myFrame" src="https://player.twitch.tv/?video=745423268&parent=www.renewedhope.us" frameborder="0" allowfullscreen="true" scrolling="no"></iframe>
</div>
<div class="info-panel">

    <h1>Renewed Hope New Cast</h1>
    <h3>Sepetember 18, 2020</h3>
    
</div>



{% endblock %}