{% extends 'base.html' %}

{% block head %}
<meta name=”description” content="Exciting news about the Shadowlands expansion.">
<link rel="stylesheet" href="{{ url_for('static', filename='main/css/shadowlands.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap" rel="stylesheet">
<title>{{ title }}</title>
{% endblock %}

{% block body %}

<div class="banner-container text-center"><img class="sl-banner"src="{{url_for('static', filename='main/img/sl-wallpaper5.jpg')}}" alt="Shadowlands background"></div>

<h1 class="text-center">SHADOWLANDS IS COMING...</h1>

<div class="my-card">
    <h3>ASHTON (GM)</h3>
    <div class="mb-4"><img class="profile-img"src="{{url_for('static', filename='main/img/ashton-cropjpg.jpg')}}" alt=""></div>
    <audio controls>
        <source src="https://renewedhope.blob.core.windows.net/rh-news/rh-new-1.mp3">
        </audio>
</div>
<h2 class="text-center mt-5">WE INVITE YOU TO LISTEN TO THE EXCITING</h2>
<h2 class="text-center">PLANS WE HAVE FOR RENEWED HOPE IN THE</h2>
<h2 class="text-center">UPCOMING SHADOWLANDS EXPANSION</h2>


<div class="videos-container mb-6">
    <div class="my-card border-0">
    
        <h3>OFFICAL TRAILER 1</h3>
        <iframe width="420" height="236" src="https://www.youtube.com/embed/s4gBChg6AII" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="my-card border-0">
        <h3>OFFICAL TRAILER 2</h3>
        <iframe width="420" height="236" src="https://www.youtube.com/embed/0j9FblQUzQU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<div class="wowhead-card">
    <h3 class="text-center">SHADOWLANDS OVERVIEW BY WOWHEAD</h3>
    <div class="wowhead-img"><a target="#" href="https://www.wowhead.com/guides/world-of-warcraft-shadowlands-expansion-overview"><img src="{{url_for('static', filename='main/img/wowhead.jpg')}}" alt="shadowlands image"></a></div>
</div>
        
{% endblock %}