body {
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn {
    background-color: blue;
    color: white;
    float: right;
}

.form-container {

    width: 18%;
    left: 0;
    text-align: right;
}
table {
    border-collapse: collapse;
  }
  
table, th, td {
border: 1px solid white;
vertical-align: top;
}
.title {
    width: 120px;
}

.date {
    width: 90px;
}
h1 {
    background-color: black;
    text-align: center; 
}
.devotional {
    background-color: black;
}

.form-container {
    background-color: black;
    width: 68%;
    left: 0;
    text-align: right;
}

textarea {
    width: 600px;
    height: 400px;
    word-wrap: break-word;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
}

input {
    width: 600px;
}

input[type=submit] {
    background-color: blue;
    color: white;
} 

#title, #time, #date, #event {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}