body {
    color: #DDD;
}

h1 {
    color: #7289da;
}
.month-bar {
    display: flex;
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.back, .next {
    height: 1em;
    margin: auto 2rem;
    color: white;
}
.week {
    display: flex;
    font-size: 0.5rem;
    width: 75vw;
    height: 11vh;
    justify-items: center;
    justify-content: center;
    margin: 0 12.5vw;
   
}

.week-top {
    width: 75vw;
    display: flex;
    justify-content: center;
    justify-items: baseline;
    margin: auto;
}

.day-bar {
    width: 15vw;
    min-width: 45px;
}

.day {
    width: 15vw;
    min-width: 45px;
    height: 11vh;
    min-height: 15px;
    border: 1px solid white;
    background-color: #222;
    color: white;
    font-size: 1rem;
}

.empty-day {
    background-color: black;
}

.event {
    height: 4.2vh;
    overflow: hidden;
    font-size: 0.8rem;
    color: white;
    background-color: #7289da;
    border: 1px solid gray;
    border-radius: 5px;
}

.event:hover {
    width: 26vw;
    height: 27vh;
    position: absolute;
    font-size: 1.2rem;
    z-index: 1;
    border-radius: 5px;
    border: 2px solid gray;
    background-color: #7289da;
}

.today {
    margin-right: 0;
    background-color: #2c2f33;
}

@media screen and (max-width: 1900px) {

    .event:hover {
        font-size: 1.1rem;
        padding: 0.5rem;
        width: 22vw;
        height: 32vh;
    }

    .week {
        display: flex;
        width: 75vw;
        height: 11vh;
        justify-items: center;
        justify-content: center;
        margin: 0 12.5vw;
       
    }
 
}

@media screen and (max-width: 800px) {

    .event:hover {
        padding: 0.5rem;
        font-size: 0.8rem;
        width: 22vw;
        height: 30vh;
    }

    .week {
        display: flex;
        width: 75vw;
        height: 11vh;
        justify-items: center;
        justify-content: center;
        margin: 0 12.5vw;
       
    }
 
}