body {
    color: #DDD;
}

h1 {
    color: white;
}
.month-bar {
    display: flex;
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.back, .next {
    height: 1em;
    margin: auto 2rem;
    color: white;
}
.week {
    display: flex;
    width: 75vw;
    height: 11vh;
    justify-items: center;
    justify-content: center;
    margin: 0 12.5vw;
   
}

.week-top {
    height: 3vh;
}

.day-bar {
    width: 15vw;
    height: 3vh;
}

.day {
    width: 15vw;
    height: 11vh;
    border: 1px solid white;
    background-color: #222;
}

.empty-day {
    background-color: black;
}

.event {
    height: 4vh;
    overflow: hidden;
    font-size: 0.8rem;
    background-color: darkblue;
    border: 1px solid gray;
    border-radius: 5px;
}

.event:hover {
    width: 30vw;
    height: 20vh;
    position: absolute;
    z-index: 1;
    border-radius: 5px;
    border: 2px solid gray;
    background-color: #111;
}

.today {
    margin-right: 0;
}
