body {
    color: #7289da;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
}

.container {
    background-color: #7289da;
    border-radius: 15px;
    text-align: left;
    padding: 1rem;
    margin: 0 15rem;
    color: black;
}

.devo-title {
    color: #2c2f33;
    font-size: 1.2rem;
}

.container:hover {
    /* border: 3px solid gray; */
    background-color:#99aab5;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    /* font-size: 1.1rem; */
    color: white;
    text-decoration: none;
}

.pag {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 2rem auto;
    margin-top: 0;
    font-size: 1.9rem;
    letter-spacing: 0.2rem;
    text-align: center;
}

.btn {
    color: white;
    border: 1px solid #7289da;
    padding: 0.5rem 2rem;
    border-radius: 10px;

}

.btn-info {
    background-color: #7289da;
}

.btn:hover, .btn-info:hover {
    background-color: #7289da;
    border: 1px solid #7289da;
}

@media screen and (max-width: 800px) {
    .container {
        margin: 0 5rem;
    }
}
