body {
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    background-color: blue;
    border-radius: 15px;
    text-align: left;
    padding: 1rem;
    margin: 0 3rem ;
}
.container:hover {
    padding: 0 1rem;
    border: 3px solid gray;
    background-color: rgb(57, 57, 214);
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    font-size: 1.1rem;
}

