* {
    box-sizing: border-box;
    color: white;
}

body {
    max-width: 1920px;
    margin: auto;
}
.banner-container {
    background-size: cover;
    background-image: url("../img/Renewed\ Hope\ Banner\ cut.jpg");
    height: 25vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center top;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin: 0 2rem;
}

.announcment-container {
    order: 0;
    text-align: left;
}

.announcment-card-label {
   
    border-radius: 10px;
    padding: 0 1rem 2rem 1rem;
    margin: 1rem 0;
    background-color: #222;
}

#devo {
    text-decoration: none;
    
}

.devotional-card-label {
    
    border-radius: 10px;
    padding: 0 1rem 2rem 1rem;
    background-color: #222;
}

.devotional-card-label:hover {
    background-color: #333;
}

.extra-life-container {
    order: 2;
    margin-bottom: 2rem;
}

.extra-life-container-lg {
    display: none;
}

.widgets {
    order: 3;
}

.widget-1 {
    margin-bottom: 2rem;
}

.wowhead-newsfeed {
    margin: auto;
}

@media (min-width: 700px){
    .info-blocks {
        display: flex;
        justify-content: space-around;
        padding: 2rem 0;
    }
}
@media (min-width: 900px) {
    .announcment-container {
        margin: 2rem 5rem;
    }
}

@media (min-width: 1000px) {
    .banner-container {
        background-size: 75%;
    }

    .extra-life-container{
        padding-left: 3rem;
    }

    .widgets {
        display: flex;
        justify-content: space-around;
        margin: auto;
    }

    .widget-1 {
        padding: 0 4rem 0 8rem;;
    }

    .widget-2 {
        padding: 0 4rem;
    }
}

@media (min-width: 1200px) {
    body {
        overflow: hidden;
    }

    .banner-container {
        height:40vh;
    }

    .content-container {
        display: flex;
        flex-direction: row;
        height: 55vh;

    }

    .extra-life-container {
        display: none;
    }

    .extra-life-container-lg {
        display: inline;
        order: 0;
    }

    .announcment-container {
        order: 1;
        margin-left: 7rem;
        margin-right: 0;
        display: flex;
        flex-direction: column;
        justify-items: center;
        justify-content: flex-start;
        flex-grow: 2;
        
    }
    .announcment-card-label {
        padding: 1rem 4rem 3rem 4rem;
        margin-bottom: 3rem;
    }

    .devotional-card-label {
        padding: 1rem 4rem 3rem 4rem;
    }

    .info-blocks {
        order: 3;
        margin: 0;
    }

    .widgets {
        order: 0;
        display: flex;
        flex-direction: column;
        justify-items: center;
        margin: 0;
    }

    .widget-1 {
        margin: auto;
    }

    .widget-2 {
        transform: scale(0.7);
        margin: auto;
        margin-top: 0;
        margin-right: 0.5rem;
        padding: 0;
        padding-left: 4rem;
    }
}