* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8rem;
    color: #333;
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

a#devo:hover {
    border: 2px solid gray;
    border-radius: 10px;
}

.main-container {
    height: 94.7vh;
    display: grid;
    grid-template-areas: "header header header"
                         "leftbar content rightbar";
    grid-template-rows: 40vh 54vh;
    grid-template-columns: 1fr 3fr 1fr;
}

.banner-container {
    grid-row: header;
    grid-column: header;
    background-image: url("../img/Renewed Hope Banner cut.jpg");
    width: 75%;
    height: auto;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.extra-life-container {
    grid-row: leftbar;
    grid-column: leftbar;
    justify-items: stretch;
    margin: auto;
    color: white;
}
.announcment-container {
    grid-row: content;
    grid-column: content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
    font-size: 1.1rem;
}

.announcment-card-label {
    align-self: start;
    color: white;
    background-color: rgb(22, 22, 22);
    padding: 1rem 2rem 3rem 2rem;
    border-radius: 10px;

}

.devotional-card-label {
    align-self: end;
    color: white;
    background-color: rgb(22, 22, 22);
    padding: 1rem 2rem 3rem 2rem;
    border-radius: 10px;
}

.widgets {
    grid-row: rightbar;
    grid-column: rightbar;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
}

.widget-1, .widget-2, .widget-3{
    /* padding: 2rem; */
    color: white;
    background-color: rgb(22, 22, 22);
    border-radius: 10px;
    margin: auto;
}

.widget-1 {
margin-bottom: 0;
}

.widget-2 {
    -webkit-transform: scale(0.85); /* WebKit */
    -moz-transform: scale(0.85); /* Mozilla */
    -o-transform: scale(0.85); /* Opera */
    -ms-transform: scale(0.85); /* Internet Explorer */
    transform: scale(0.85); /* CSS3 */
    margin-top: 0;
}
.widgets a:hover { 
    border: 0;
}

@media screen and (max-width: 1600px){
    .announcment-container {
        font-size: 0.8rem;
        padding: 0 ;
    }

    .extra-life-container {
            -webkit-transform: scale(0.85); /* WebKit */
            -moz-transform: scale(0.85); /* Mozilla */
            -o-transform: scale(0.85); /* Opera */
            -ms-transform: scale(0.85); /* Internet Explorer */
            transform: scale(0.85); /* CSS3 */
            margin-top: 0;
    }

    .banner-container {
        width: 85%;
    }
}

@media screen and (max-width: 1350px){
    .announcment-container {
        font-size: 0.8rem;
        padding: 0 ;
    }

    .extra-life-container {
            -webkit-transform: scale(0.75); /* WebKit */
            -moz-transform: scale(0.75); /* Mozilla */
            -o-transform: scale(0.75); /* Opera */
            -ms-transform: scale(0.75); /* Internet Explorer */
            transform: scale(0.75); /* CSS3 */
            margin-top: 0;
            justify-items: start;
    }

    .banner-container {
        width: 95%;
    }
}

@media screen and (max-width: 760px){
    .main-container {
        /* height: 94.7vh; */
        margin-top: 25rem;
        display: flex;
       justify-content: center;
       justify-items: center;
       flex-direction: column;
    }

    .extra-life-container {
        -webkit-transform: scale(0.95); /* WebKit */
        -moz-transform: scale(0.95); /* Mozilla */
        -o-transform: scale(0.95); /* Opera */
        -ms-transform: scale(0.95); /* Internet Explorer */
        transform: scale(0.95); /* CSS3 */
        margin-top: 0;
        justify-items: start;
        order: 4;
    }

    .banner-container {
        order: 1;
        width: 95%;
        height: 20rem;
        position: absolute;
        top: 3rem;
        margin-left: 3rem;
        margin-right: 0;
    }

    .announcment-container {
        font-size: 0.8rem;
        padding: 0 ;
        order: 2;
        margin: 5rem;
        margin-top: 13rem;
        margin-bottom: 0;
        display: flex;
        justify-content: space-around;
    }

    .announcment-card-label {
        order: 3;
        margin: 1rem 0;
    }

    .devotional-card-label {
        order: 4;
        margin: 1rem 0;
    }

    .widgets {
        order: 5
    }

    .widget-1 {
        order: 5
    }

    .widget-2 {
        order: 6;
    }
}