* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8rem;
    color: #333;
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}
a:hover {
    border: 2px solid gray;
    border-radius: 10px;
}
.main-container {
    height: 94.7vh;
    display: grid;
    grid-template-areas: "header header header"
                         "leftbar content rightbar";
    grid-template-rows: 40vh 54vh;
    grid-template-columns: 1fr 3fr 1fr;
}

.banner-container {
    grid-row: header;
    grid-column: header;
    background-image: url("../img/Renewed Hope Banner cut.jpg");
    width: 75%;
    height: auto;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.extra-life-container {
    grid-row: leftbar;
    grid-column: leftbar;
    justify-items: stretch;
    margin: auto;
    color: white;
}
.announcment-container {
    grid-row: content;
    grid-column: content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
    font-size: 1.1rem;
}

.widgets {
    grid-row: rightbar;
    grid-column: rightbar;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
}

.announcment-card-label {
    align-self: start;
    color: white;
    background-color: rgb(22, 22, 22);
    padding: 1rem 2rem 3rem 2rem;
    border-radius: 10px;

}

.devotional-card-label {
    align-self: end;
    color: white;
    background-color: rgb(22, 22, 22);
    padding: 1rem 2rem 3rem 2rem;
    border-radius: 10px;
}
.widget-1, .widget-2, .widget-3{
    /* padding: 2rem; */
    color: white;
    background-color: rgb(22, 22, 22);
    border-radius: 10px;
    margin: auto;
}

a img:hover { 
    border: 0;
}