* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    color: #333;
    overflow-x: hidden; 
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: white;
}

.v-header {
    height: 94.7vh;
    width: 100vw;
    /* display: flex;
    align-items: center; */
    color: white;
    margin: auto;
    text-align: center;
}

.fullscreen-video-wrap {
    position: absolute;
    top: 3.1rem;
    left: 0;
    width: 100%;
    height: 94.7vh;
    overflow: hidden;
}

.fullscreen-video-wrap video {
    min-width: 100%;
    min-height: 100%;
}

.header-overlay {
    height: 94.7vh;
    width: 100vw;
    position: absolute;
    top: 3.1rem;
    left: 0;
    background: #00126b;
    z-index: 1;
    opacity: 0.8;
}

.logo-div {
    z-index: 3;
    width: 100vw;
    height: 20vh;
    position: absolute;

}

 .logo {
    width: auto;
    height: 20vh;
}  

.card-holder {
    height: 70vh;
    position: absolute;
    bottom: 0;
    z-index: 3;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5rem;
    margin: 2rem 10rem;
    margin-top: 5rem;
    font-size: 1.4rem;
}

.extra-life-container {
    grid-row-start: 1;
    grid-row-end: 3;
    height: 39rem;
}

.extra-life-widget {
    width: 20rem;
    height: 36rem; 
    padding: 0; 
    overflow: hidden;
}

iframe {
    -ms-zoom: 1.2;
    -moz-transform: scale(1.20);
    -moz-transform-origin: 0 0;
    -o-transform: scale(1.20);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(1.20);
    -webkit-transform-origin: 0 0;
}

.announcment-card-label, .devotional-card-label {
    text-align: left;
}

.announcment-card-content, .devotional-card-content {
    background-color: rgba(1, 1, 1, 0.5);
    border-radius: 10px;
    padding: 2rem;
}

@media screen and (max-width: 1600px) {
    .card-holder {
        font-size: 1rem;
        margin: 1rem 4rem;
        margin-top: 3rem;
        grid-gap: 1rem;
    }
}

@media screen and (max-width: 800px) {
    .card-holder {
        font-size: 1rem;
        margin: 1rem 4rem;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        top: 35rem;
    }

    .announcment-card-label {
        order: 1;
    }

    .announcment-card-content {
        order: 2;
    }

    .devotional-card-label {
        order: 3;
    }

    .devotional-card-content {
        order: 4;
    }

    .extra-life-container {
        order: 5;
        margin: auto;
        margin-top: 7rem;
    }

    .extra-life-widget {
        order: 6;
        margin: auto;
        
    }
}